<nav class="navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="font-size: 25px; font-weight: 700;">REFIT</a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0 footer-list" style="justify-content: space-evenly;">
            <li class="nav-item">
                <a class="nav-link drop-btn" href="#">Terms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link drop-btn" href="#">Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link drop-btn">Sellers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link drop-btn">Buyers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link drop-btn">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link drop-btn" href="#" role="button">Rules</a>
            </li>
        </ul>
    </div>
    <p class="mx-auto footer-p">ⒸREFIT 2022</p>
</nav>
