.navbar{
    border-top-color: rgb(215, 215, 215); 
    border-top-style: solid;
    border-top-width: 0.0625rem; 
    height: 4rem;
    background: rgb(255, 255, 255);
    padding-top: 0;
}

.navbar-brand{
    font-size: 25px; 
    font-weight: 700;
}

.container-fluid{
    padding-top: 0;
    padding-bottom: 0;
}

.footer-list{
    display: inline-block;
}

.footer-list li{
    display: inline-block;
}

.nav-link{
    color:black !important;
    margin: 0 1.5rem 0 1.5rem;
    font-size: 18px;
    height: 2.5rem;
    width: 100%;
    text-align: center;
}

.nav-link:hover{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0);
}

.footer-p{
    font-size: 13px; 
    margin-bottom: 0rem;
}

@media(max-width: 768px) {
    .navbar{
        display: none;
    } 
}