@media(max-width: 768px){
    .photo{
        display: none;
    }
    .card{
        width: 100%;
    }
}

@media(max-width: 768px){
    .navbar-brand{
        transform: translate(-50%);
        left: 50%;
        position: absolute;
        margin-top: 2rem;
    }
}