.card {
    margin: 11rem 0 3rem 0;
    border: none;
}

@media(max-width: 768px){
    .card{
        width: 340px;
        margin-top: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(82, 255, 47);
    }
}

@media(min-width: 992px){
    .card{
        width: 35%;
        height: 100%;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(82, 255, 47);
    }
}

