<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: 900;">Enter the new Password</h5>
                <form #f="ngForm" (ngSubmit)="OnSubmit(f)" style="margin-top: 15px;">
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="userPassword" 
                        placeholder="Password" id="passwordInput" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&]).{8,}" 
                        password required>
                        <div class="text-muted password-visibility">
                            <input type="checkbox" onclick="togglePasswordVisibility()"> Show Password
                        </div><br>
                        <div class="text-muted" style="font-size: smaller; margin-top: 1px;">Passwords must contain at least an uppercase 
                            letter, a lowercase letter, a symbol, a number and have at least 
                            8 characters.</div>
                        <div *ngIf="f.controls['password']?.invalid && f.controls['password'].touched">
                            <span *ngIf="f.controls['password'].errors?.required" class="form-text">Password is required</span>
                        </div>
                        <div *ngIf="password.invalid && (password.dirty || password.touched)">
                            <span *ngIf="password.errors?.['pattern']" class="form-text">Password is not strong enough</span>
                        </div>
                        <div *ngIf="password.valid && (password.dirty || password.touched)">
                            <span class="form-text" style="color: green;">Password is strong enough</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="password" name="passwordConfirm" #passwordConfirm="ngModel" [(ngModel)]="confirmPassword" 
                        placeholder="Confirm Password" id="passwordInput2"  required>
                        <span class="text-muted password-visibility">
                            <input type="checkbox" onclick="togglePasswordVisibility2()"> Show Password
                        </span>
                        <div *ngIf="passwordConfirm.invalid && passwordConfirm.touched">
                            <span *ngIf="passwordConfirm.errors?.required" class="form-text">Please confirm your Password</span>
                        </div>
                        <div *ngIf="passwordConfirm.dirty && (confirmPassword !== userPassword) && (confirmPassword !== '')">
                            <span class="form-text">Passwords are not equal</span>
                        </div>
                    </div>

                    <br><div class="d-grid gap-2" 
                    *ngIf="confirmPassword === userPassword
                    && f.controls['password']?.valid
                    && !spinner; else invalid">
                        <button class="btn btn-dark btn-code" type="submit">Submit</button>
                    </div>
                    <ng-template #invalid>
                        <div *ngIf="!spinner" class="d-grid gap-2">
                            <button class="btn btn-dark btn-code disabled" type="button">Submit</button>
                        </div>
                    </ng-template>
                    <div class="d-grid gap-2" *ngIf="spinner">
                        <button class="btn btn-dark btn-code disabled" type="button">
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Submitting...
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

