.card {
    margin: 3rem 0 3rem 0;
    border: none;
}

@media(max-width: 768px){
    .card{
        width: 100%;
        margin-top: 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form{
        width: 340px;
    }
}

@media(min-width: 992px){
    .card{
        width: 35%;
        height: inherit;
        border-width: 0.1px;
        border-style: solid;
        border-radius: 4px;
        border-color: grey;
    }
}

.btn-code{
    margin-top: 10px; 
    height: 45px; 
    background-color: #000;
    font-weight: bolder;
}

.form-text {
    color: #ee0000; 
}

input{
    border: 1px solid #000;
    border-radius: 0;
}

.password-visibility{
    float: right;
    font-size: smaller;
    margin-top: 5px;
}
