<div>
    <div class="row row-one">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand nav-one" href="#" style="font-size: 25px; font-weight: 900;">REFIT</a>
                <form class="form-one">
                    <input class="form-control me-2 search-input" type="search" placeholder="Search for brands, sizes, items, sellers..." aria-label="Search">
                </form>
                <div class="auth-buttons">
                    <span class="material-icons">search</span>
                    <button class="btn btn-dark btn-signUp me-2" type="button">Sign up</button>
                    <button class="btn btn-login" type="button">Login</button>
                </div>
            </div>
        </nav>
    </div>
    <div class="row row-two">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="justify-content: space-evenly;">
                        <li class="nav-item dropdown">
                            <a class="nav-link drop-btn" href="#">Ladies'</a>
                            <div class="dropdown-content">
                                <ul class="no-bullets" *ngFor="let cat of ladyCats">
                                    <li><a href="#">{{cat}}</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link drop-btn" href="#">Men's</a>
                            <div class="dropdown-content">
                                <ul class="no-bullets" *ngFor="let cat of menCats">
                                    <li><a href="#">{{cat}}</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link drop-btn" href="#" role="button">Jewelry</a>
                            <div class="dropdown-content">
                                <ul class="no-bullets" *ngFor="let cat of jewelry">
                                    <li><a href="#">{{cat}}</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link drop-btn">Beauty</a>
                            <div class="dropdown-content">
                                <ul class="no-bullets" *ngFor="let cat of beauty">
                                    <li><a href="#">{{cat}}</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<h2>Hello world of tech and the world of fashion...</h2>

<div class="offcanvas offcanvas-start" style="width: 75%;" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header" style="padding-bottom: 10px;">
        <button class="btn btn-secondary btn-offCanvas" type="button" style="margin-left: 10px;">Login</button>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="padding-top: 10px;">
        <div>
            <h5 class="offcanvas-title" id="offcanvasMenuLabel" style="margin-left: 13px; margin-bottom: 10px;">Browse away...</h5>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="justify-content: space-evenly;">
                <li class="nav-item offCanvas-item">
                    <a class="offCanvas-link" data-bs-toggle="offcanvas" href="#offcanvasLadies" role="button" aria-controls="offcanvasLadies">
                        Ladies'
                        <span class="material-icons" style="float: right; padding-right: 0;">arrow_forward</span>
                    </a>
                </li>

                <li class="nav-item offCanvas-item dropdown">
                    <a class="offCanvas-link" href="#">
                        Men's
                        <span class="material-icons" style="float: right; padding-right: 0;">arrow_forward</span>
                    </a>
                    <div class="dropdown-content">
                        <ul class="no-bullets" *ngFor="let cat of menCats">
                            <li><a href="#">{{cat}}</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item offCanvas-item dropdown">
                    <a class="offCanvas-link" href="#" role="button">
                        Jewelry
                        <span class="material-icons" style="float: right; padding-right: 0;">arrow_forward</span>
                    </a>
                    <div class="dropdown-content">
                        <ul class="no-bullets" *ngFor="let cat of jewelry">
                            <li><a href="#">{{cat}}</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item offCanvas-item dropdown">
                    <a class="offCanvas-link">
                        Beauty
                        <span class="material-icons" style="float: right; padding-right: 0;">arrow_forward</span>
                    </a>
                    <div class="dropdown-content">
                        <ul class="no-bullets" *ngFor="let cat of beauty">
                            <li><a href="#">{{cat}}</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" style="width: 75%;" tabindex="-1" id="offcanvasLadies" aria-labelledby="offcanvasLadiesLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLadiesLabel">Offcanvas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body offCanvas-subItems">
        <h5 class="offcanvas-title" id="offcanvasLadiesLabel" 
        style="margin-left: 13px; margin-bottom: 10px; font-weight: 900;">Ladies wear</h5>
        <ul class="no-bullets" *ngFor="let cat of ladyCats">
            <li><a href="#">{{cat}}</a></li>
        </ul>
    </div>
</div>

