<div class="sticky-top" style="background: white">
    <div class="row row-one ">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand nav-one" href="#" style="font-size: 25px; font-weight: 700;">REFIT</a>
                <form class="form-one">
                    <input class="form-control me-2 search-input" type="search" placeholder="Search for brands, sizes, items, sellers..." aria-label="Search">
                </form>
                <div class="auth-buttons">
                    <button class="btn btn-search" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch">
                        <span class="material-icons">search</span>
                    </button>

                    <div *ngIf="authStatus; else notLoggedIn">
                        <button class="btn btn-dark btn-signUp me-2 btn-sell" type="button">Sell</button>
                        <button class="btn btn-cart">
                            <span class="material-icons-outlined local-mall-icon">local_mall</span>
                        </button>
                        <button class="btn btn-login dropdown profile-icons" type="button">
                            <span class="material-icons account-circle-icon">account_circle</span>
                            <span class="material-icons arrow-drop-icon">arrow_drop_down</span>
                            <div class="dropdown-content-profile">
                                <ul class="no-bullets">
                                    <li><button class="btn btn-login">Profile</button></li>
                                    <li><button class="btn btn-login" (click)="signOut()">Logout</button></li>
                                </ul>
                            </div>
                        </button>
                    </div>
                    <ng-template #notLoggedIn>
                        <button class="btn btn-dark btn-signUp me-2" type="button" (click)="goToSignup()">Sign up</button>
                        <button class="btn btn-login" type="button" (click)="goToLogin()">Login</button>
                    </ng-template>
                </div>
            </div>
        </nav>
    </div>
    <div class="row row-two">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="justify-content: space-evenly;">
                        <li class="nav-item dropdown">
                            <a class="nav-link drop-btn" href="#">Ladies'</a>
                            <div class="dropdown-content">
                                <ul class="no-bullets" *ngFor="let cat of ladyCats">
                                    <li><a href="#">{{cat}}</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link drop-btn" href="#">Men's</a>
                            <div class="dropdown-content">
                                <ul class="no-bullets" *ngFor="let cat of menCats">
                                    <li><a href="#">{{cat}}</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link drop-btn" href="#" role="button">Jewelry</a>
                            <div class="dropdown-content">
                                <ul class="no-bullets" *ngFor="let cat of jewelry">
                                    <li><a href="#">{{cat}}</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link drop-btn">Beauty</a>
                            <div class="dropdown-content">
                                <ul class="no-bullets" *ngFor="let cat of beauty">
                                    <li><a href="#">{{cat}}</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link drop-btn">Kids'</a>
                            <div class="dropdown-content">
                                <ul class="no-bullets" *ngFor="let cat of kids">
                                    <li><a href="#">{{cat}}</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link drop-btn">Rentals</a>
                            <div class="dropdown-content">
                                <ul class="no-bullets" *ngFor="let cat of rentals">
                                    <li><a href="#">{{cat}}</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                    <ul class="navbar-nav mb-2 mb-lg-0" style="float: right;">
                        <li class="nav-item">
                            <img src="../../../assets/5305170_bird_social media_social network_tweet_twitter_icon.ico" 
                            alt="twitter" width="20px" style="margin-right: 10px;">
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/5335781_camera_instagram_social media_instagram logo_icon.ico"
                            alt="Instagram" width="20px" style="margin-right: 10px;">
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/5305153_fb_facebook_facebook logo_icon.ico"
                            alt="Facebook" width="20px">
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</div>

<!-- -----OffCanvas search input------ -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" style="width: 100%; transition: 0.5s;" tabindex="-1" id="offcanvasSearch" aria-labelledby="offcanvasSearchLabel">
    <div class="offcanvas-header" style="border-bottom-style: none; margin-top: 3rem; height: 10px;">
        <h2 class="offcanvas-title offCanvas-search" id="offcanvasRentalsLabel">Search</h2>
        <button type="button" class="btn-close text-reset btn-close-search" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body offCanvas-subItems">
        <form class="form-two">
            <input class="form-control me-2 search-input" type="search" placeholder="Search for brands, sizes, items, sellers..." aria-label="Search">
        </form>
    </div>
</div>

<!-- -----OffCanvas main menu items------ -->
<div class="offcanvas offcanvas-start first-offcanvas" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div style="display: inline-block;">
        <ul class="navbar-nav mb-2 mb-lg-0 social-media-icons">
            <li class="nav-item">
                <img src="../../../assets/5305170_bird_social media_social network_tweet_twitter_icon.ico" 
                alt="twitter" width="20px" style="margin-right: 20px;">
            </li>
            <li class="nav-item">
                <img src="../../../assets/5335781_camera_instagram_social media_instagram logo_icon.ico"
                alt="Instagram" width="20px" style="margin-right: 20px;">
            </li>
            <li class="nav-item">
                <img src="../../../assets/5305153_fb_facebook_facebook logo_icon.ico"
                alt="Facebook" width="20px">
            </li>
        </ul>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div *ngIf="authStatus; else notLoggedInOffCanvas">
        <button class="btn btn-off-canvas" type="button">
            <span class="material-icons" style="font-size: 36px;">account_circle</span>
            <span class="profile-off-canvas">Profile</span>
        </button>
        <div class="offcanvas-header Logout-off-canvas">
            <button class="btn btn-secondary btn-offCanvas-logout" type="button" data-bs-dismiss="offcanvas" (click)="signOut()">Logout</button>
        </div>
    </div>
    <ng-template #notLoggedInOffCanvas>
        <div class="offcanvas-header" style="padding-bottom: 10px;">
            <button class="btn btn-secondary btn-offCanvas" type="button" data-bs-dismiss="offcanvas" (click)="goToLogin()" style="margin-left: 10px;">Login</button>
        </div>
    </ng-template>

    <div style="padding-top: 15px; margin-left: 13px;">
        <div>
            <h2 class="offcanvas-title" id="offcanvasMenuLabel">Browse away...</h2>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="justify-content: space-evenly;">
                <li class="nav-item offCanvas-item">
                    <button class="btn offCanvas-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLadies" role="button" aria-controls="offcanvasLadies">
                        Ladies'
                        <span class="material-icons arrow-forward">arrow_forward</span>
                    </button>
                </li>

                <li class="nav-item offCanvas-item">
                    <button class="btn offCanvas-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMen" role="button" aria-controls="offcanvasMen">
                        Men's
                        <span class="material-icons arrow-forward">arrow_forward</span>
                    </button>
                </li>

                <li class="nav-item offCanvas-item">
                    <button class="btn offCanvas-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasJewelry" role="button" aria-controls="offcanvasJewelry">
                        Jewelry
                        <span class="material-icons arrow-forward">arrow_forward</span>
                    </button>
                </li>

                <li class="nav-item offCanvas-item">
                    <button class="btn offCanvas-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBeauty" role="button" aria-controls="offcanvasBeauty">
                        Beauty
                        <span class="material-icons arrow-forward">arrow_forward</span>
                    </button>
                </li>

                <li class="nav-item offCanvas-item">
                    <button class="btn offCanvas-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasKids" role="button" aria-controls="offcanvasKids">
                        Kids'
                        <span class="material-icons arrow-forward">arrow_forward</span>
                    </button>
                </li>

                <li class="nav-item offCanvas-item">
                    <button class="btn offCanvas-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRentals" role="button" aria-controls="offcanvasRentals">
                        Rentals
                        <span class="material-icons arrow-forward">arrow_forward</span>
                    </button>
                </li>
            </ul>
        </div>

        <nav class="offcanvas-footer" style="margin-top: 2rem;">
            <div style="padding-left: 0px; margin-bottom: 4rem;">
                <h2>Explore more...</h2>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 footer-list">
                    <li class="nav-item">
                        <a href="#">Terms</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a>Sellers</a>
                    </li>
                    <li class="nav-item">
                        <a>Buyers</a>
                    </li>
                    <li class="nav-item">
                        <a>Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" role="button">Rules</a>
                    </li>
                </ul>
            </div>
            <p class="footer-p" style="text-align: center;">ⒸREFIT 2022</p>
        </nav>
    </div>

    
</div>

<!-- -----OffCanvas sub-menu items------ -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" style="width: 85%; transition: 0.5s;" tabindex="-1" id="offcanvasLadies" aria-labelledby="offcanvasLadiesLabel">
    <div class="offcanvas-header">
        <span class="material-icons" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">arrow_back</span>
        <button type="button" style="margin-bottom: 1rem;" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body offCanvas-subItems">
        <h5 class="offcanvas-title" id="offcanvasLadiesLabel" 
        style="margin-left: 15px; margin-bottom: 10px; font-weight: 600;">Ladies' wear</h5>
        <ul class="no-bullets" *ngFor="let cat of ladyCats">
            <li><a href="#">{{cat}}</a></li>
        </ul>
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" style="width: 85%; transition: 0.5s;" tabindex="-1" id="offcanvasMen" aria-labelledby="offcanvasMenLabel">
    <div class="offcanvas-header">
        <span class="material-icons" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">arrow_back</span>
        <button type="button" style="margin-bottom: 1rem;" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body offCanvas-subItems">
        <h5 class="offcanvas-title" id="offcanvasMenLabel" 
        style="margin-left: 15px; margin-bottom: 10px; font-weight: 600;">Men's wear</h5>
        <ul class="no-bullets" *ngFor="let cat of menCats">
            <li><a href="#">{{cat}}</a></li>
        </ul>
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" style="width: 85%; transition: 0.5s;" tabindex="-1" id="offcanvasJewelry" aria-labelledby="offcanvasJewelryLabel">
    <div class="offcanvas-header">
        <span class="material-icons" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">arrow_back</span>
        <button type="button" style="margin-bottom: 1rem;" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body offCanvas-subItems">
        <h5 class="offcanvas-title" id="offcanvasJewelryLabel" 
        style="margin-left: 15px; margin-bottom: 10px; font-weight: 600;">Jewelry</h5>
        <ul class="no-bullets" *ngFor="let cat of jewelry">
            <li><a href="#">{{cat}}</a></li>
        </ul>
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" style="width: 85%; transition: 0.5s;" tabindex="-1" id="offcanvasBeauty" aria-labelledby="offcanvasBeautyLabel">
    <div class="offcanvas-header">
        <span class="material-icons" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">arrow_back</span>
        <button type="button" style="margin-bottom: 1rem;" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body offCanvas-subItems">
        <h5 class="offcanvas-title" id="offcanvasBeautyLabel" 
        style="margin-left: 15px; margin-bottom: 10px; font-weight: 600;">Beauty</h5>
        <ul class="no-bullets" *ngFor="let cat of beauty">
            <li><a href="#">{{cat}}</a></li>
        </ul>
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" style="width: 85%; transition: 0.5s;" tabindex="-1" id="offcanvasKids" aria-labelledby="offcanvasKidsLabel">
    <div class="offcanvas-header">
        <span class="material-icons" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">arrow_back</span>
        <button type="button" style="margin-bottom: 1rem;" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body offCanvas-subItems">
        <h5 class="offcanvas-title" id="offcanvasKidsLabel" 
        style="margin-left: 15px; margin-bottom: 10px; font-weight: 600;">Kids' wear</h5>
        <ul class="no-bullets" *ngFor="let cat of kids">
            <li><a href="#">{{cat}}</a></li>
        </ul>
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" style="width: 85%; transition: 0.5s;" tabindex="-1" id="offcanvasRentals" aria-labelledby="offcanvasRentalsLabel">
    <div class="offcanvas-header">
        <span class="material-icons" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">arrow_back</span>
        <button type="button" style="margin-bottom: 1rem;" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body offCanvas-subItems">
        <h5 class="offcanvas-title" id="offcanvasRentalsLabel" 
        style="margin-left: 15px; margin-bottom: 10px; font-weight: 600;">Rental clothes</h5>
        <ul class="no-bullets" *ngFor="let cat of rentals">
            <li><a href="#">{{cat}}</a></li>
        </ul>
    </div>
</div>


