.form-one{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-two{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input{
    height: 2.5rem;
}

.row-one{
    border-bottom-color: rgb(215, 215, 215); 
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem; 
}

.row-two{
    border-bottom-color: rgb(215, 215, 215); 
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem; 
    height: 3rem;
}

.nav-one{
    margin-left: 20px;
    margin-right: 0rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 25px; 
    font-weight: 700; 
    color: rgb(255, 0, 0);
}

.nav-item{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.nav-link{
    color:black !important;
    margin: 0 0.8rem 0 0.8rem;
    font-size: 18px;
} 

.nav-link:hover{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0);
    height: 2.5rem;
}

.auth-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icons{
    padding-right: 0.5rem;
}

.btn-signUp{
    background-color: #000;
    font-weight: bolder;
    border-radius: 2px;
    height: 2.3rem;
    text-align: center;
}

.btn-logout-sell{
    background-color: #000;
    font-weight: bolder;
    border-radius: 2px;
    height: 2.3rem;
    text-align: center;
}

.btn-login{
    font-weight: 900;
}

.btn-login:focus{
    box-shadow: none;
}

.btn-cart:focus{
    box-shadow: none;
}

.navbar-toggler{
    border-style: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.btn-search:focus {
    box-shadow: none;
}

@media(max-width: 768px){
    .form-one{
        display: none;
    }

    .btn-signUp-logout{
        display: none;
    }

    .row-two{ 
        border-bottom-style: none;
        display: none;
    }

    .container-fluid{
        justify-content: unset;
    }

    .auth-buttons{
        margin-left: auto;
        padding-right: 0.8rem;
    }

    .navbar-toggler{
        margin-right: 0;
    }

    .nav-one{
        margin-left: 3px;
    }

    .btn-cart{
        width: 30px;
        text-align: start;
        padding: 0;
        margin-left: 10px;
    }
}

@media(min-width: 992px){
    .btn-search{
        display: none;
    }
    .btn-login-collapse{
        display: none;
    }
    .offcanvas{
        display: none;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 0.55rem;
}

.dropdown-content a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom-color: rgb(215, 215, 215); 
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem; 
}

.dropdown-content a:hover {
    color: rgb(255, 255, 255);
    background-color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content-profile {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -4rem;
}

.dropdown-content-profile button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom-color: rgb(215, 215, 215); 
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem; 
    width: 100%;
}

.dropdown-content-profile button:hover {
    color: rgb(255, 255, 255);
    background-color: #000;
}

.show{
    display: block;
}

.no-bullets{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-media-icons{
    display: inline-block; 
    margin-left: 20px;
    margin-top: 15px;
}

.social-media-icons li{
    display: inline-block;
}

.btn-close{
    float: right;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 15px;
}

.offcanvas-header{
    border-bottom-color: rgb(215, 215, 215); 
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem; 
}

.btn-offCanvas{
    background-color: black;
    width: 7rem;
    font-weight: bolder;
    border-radius: 2px;
    height: 2.3rem;
    text-align: center;
}

.btn-offCanvas-logout{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 5rem;
    font-weight: bolder;
    border-radius: 2px;
    height: 2.3rem;
    text-align: start;
    border-style: none;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    padding-left: 4px;
}

.offCanvas-item{
    border-bottom-color: rgb(215, 215, 215); 
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem;
    padding-bottom: 20px;
    padding-top: 20px;
}

.offCanvas-link{
    color:black !important;
    margin: 0 0.1rem 0 0.1rem;
    font-size: 20px;
    width: 100%;
    text-align: left;
}

.offCanvas-link:hover{
    text-decoration: none;
}

.offCanvas-link:focus{
    box-shadow: none;
}

.offCanvas-subItems a{
    font-family: 'Open Sans', sans-serif;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom-color: rgb(215, 215, 215); 
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem; 
}

.footer-list{
    display: inline-block;
    margin-bottom: 20rem;
}

.footer-list li{
    display: inline-block;
}

.footer-list a{
    font-size: 15px;
    color: black;
    margin: 0 1rem 0 1rem;
}

.offcanvas-footer h2{
    margin-left: 13px;
    margin-bottom: 1rem;
    font-size: 20px;
}

.offcanvas-title{
    margin-left: 12px;
    margin-bottom: 10px;
    font-size: 20px;
}

.first-offcanvas{
    width: 85%;
    transition: 0.5s;
    max-height: 100%; 
    overflow-y: auto;
}

.offCanvas-search{
    padding-left: 0; 
    font-weight: 600; 
    margin-top: 0px; 
    font-size: 20px;
}

.btn-sell{
    font-weight: 600; 
    margin-right: 15px; 
    margin-bottom: 5px;
}

.local-mall-icon{
    font-size: 30px; 
    margin-top: 0.15rem; 
    width: 0;
}

.profile-icons{
    text-align: start; 
    margin-left: 40px; 
    width: 4rem; 
    padding: 0;
}

.img-arrow{
    display: flex;
    align-items: center;
}

.profile-img{
    height: 36px; 
    width: 36px;
    object-fit: cover; 
    border-radius: 50%;
    margin-top: 0.15rem; 
}

.profile-img-md{
    height: 36px; 
    width: 36px;
    object-fit: cover; 
    border-radius: 50%;
}

.account-circle-icon{
    margin-top: 0.15rem; 
    font-size: 36px;  
    padding: 0;
} 

.arrow-drop-icon{
    margin-top: 0.15rem; 
    font-size: 30px;  
    padding: 0;
    margin-left: -0.2rem;
}

.btn-close-search{
    margin-right: 1.5rem; 
    margin-bottom: 1rem; 
    margin-top: 3px;
}

.btn-off-canvas{
    text-align: start; 
    display:flex; 
    align-items: center; 
    margin-left: 18px; 
    margin-top: 10px; 
    width: 10rem; 
    padding: 0;
} 

.profile-off-canvas{
    margin-left: 5px; 
    font-size: 15px;
    font-family: 'Public Sans', sans-serif;
}

.Logout-off-canvas{
    padding-bottom: 10px; 
    margin-top: 0; 
    height: 45px;
}

.arrow-forward{
    float: right; 
    padding-right: 0;
}

.offCanvas-footer{
    padding-left: 0px;
    margin-bottom: 2rem;
} 

.login-modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-modal-body-text{
    font-size: 25px;
    overflow-wrap: break-word;
    line-height: 32px;
    margin-top: 2rem;
    text-align: center;
}

.modal-login-button{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal-signup-button{
    margin-bottom: 2.5rem;
}

.modal-login-button button{
    height: 3.5rem; 
    border-radius: 9999px;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
}

.sell-modal-header{
    border-bottom-style: none;
}

.modal-header{
    border-bottom-style: none;
}

.login-modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-modal-body-text{
    font-family: 'Public Sans', sans-serif;
    font-size: 25px;
    overflow-wrap: break-word;
    line-height: 32px;
    margin-top: 2rem;
}

.modal-login-button{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal-signup-button{
    margin-bottom: 2.5rem;
}

.modal-login-button button{
    height: 3.5rem; 
    border-radius: 9999px;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
}

.modal-signup-button button{
    margin-bottom: 3rem;
    height: 3.5rem; 
    border-radius: 9999px; 
    color: rgb(29, 155, 240);
    border-color: rgb(207, 217, 222);
    border-width: 1px;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
}

::placeholder{
    font-weight: 300;
}

::-webkit-input-placeholder{
    font-weight: 300;
}

:-ms-input-placeholder { /* Internet Explorer */
    font-weight: 300;
}


