.form-one{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-two{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input{
    height: 2.5rem;
}

.row-one{
    border-bottom-color: rgb(215, 215, 215); 
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem; 
}

.row-two{
    border-bottom-color: rgb(215, 215, 215); 
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem; 
    height: 3rem;
}

.nav-one{
    margin-left: 20px;
    margin-right: 0rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.nav-item{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.nav-link{
    color:black !important;
    margin: 0 0.8rem 0 0.8rem;
    font-size: 18px;
} 

.nav-link:hover{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0);
}

.auth-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icons{
    padding-right: 1rem;
}

.btn-signUp{
    background-color: #000;
    font-weight: bolder;
    border-radius: 2px;
    height: 2.3rem;
    text-align: center;
}

.btn-login{
    font-weight: 900;
}

.navbar-toggler{
    border-style: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.btn-search:focus {
    box-shadow: none;
}

@media(max-width: 768px){
    .form-one{
        display: none;
    }

    .btn-login{
        display: none;
    }

    .row-two{ 
        border-bottom-style: none;
    }

    .container-fluid{
        justify-content: unset;
    }

    .auth-buttons{
        margin-left: auto;
        padding-right: 0.8rem;
    }

    .navbar-toggler{
        margin-right: 0;
    }

    .nav-one{
        margin-left: 3px;
    }
}

@media(min-width: 992px){
    .btn-search{
        display: none;
    }
    .btn-login-collapse{
        display: none;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 0.55rem;
}

.dropdown-content a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom-color: rgb(215, 215, 215); 
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem; 
}

.dropdown-content a:hover {
    color: rgb(255, 255, 255);
    background-color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.no-bullets{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.offcanvas-header{
    border-bottom-color: rgb(215, 215, 215); 
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem; 
}

.btn-offCanvas{
    background-color: black;
    width: 7rem;
    font-weight: bolder;
    border-radius: 2px;
    height: 2.3rem;
    text-align: center;
}

.offCanvas-item{
    border-bottom-color: rgb(215, 215, 215); 
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem;
    padding-bottom: 30px;
    padding-top: 30px;
}

.offCanvas-link{
    color:black !important;
    margin: 0 0.8rem 0 0.8rem;
    font-size: 18px;
}

.offCanvas-link:hover{
    text-decoration: none;
}

.offCanvas-subItems a{
    font-family: 'Open Sans', sans-serif;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom-color: rgb(215, 215, 215); 
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem; 
}

