.card {
    margin: 6rem 0 3rem 0;
    border: none;
}

form{
    width: 340px;
}

@media(max-width: 768px){
    .photo{
        display: none;
    }
    .card{
        width: 100%;
    }
    form{
        width: 340px;
    }
}

@media(min-width: 992px){
    .card{
        width: 75%;
    }
}

.photo{
    background: url(../../assets/joshua-oyebanji-kMC1v6rBHMI-unsplash.jpg) center / cover no-repeat;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
}

.btn-code{
    margin-top: 20px; 
    height: 45px; 
    background-color: #000;
    font-weight: bolder;
}

.form-text {
    color: #ee0000; 
}

.try-again{
    cursor: pointer;
}
