<!-- <div class="otp">
    <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
    <button class="btn btn-success mt-4" (click)="handleClick()">Verify OTP</button> 
</div> -->

<div class="container-fluid">
    <div class="row ">
        <div class="col vh-100 d-flex align-items-center justify-content-center">
            <div class="row">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bolder;">CODE RECEIVED?</h5>
                        <p class="card-text text-muted">Check your phone number for the code!</p>
                        <h6 class="card-text" style="font-weight: bolder;">Enter the code</h6>
                        <form #f="ngForm" style="margin-top: 15px;">
                            <div class="otp">
                                <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config" required></ng-otp-input>
                            </div>
                            <div class="d-grid gap-2" *ngIf="otp?.length === 6; else invalid">
                                <button class="btn btn-dark btn-code" (click)="handleClick()">Verify OTP</button>
                            </div>
                            <ng-template #invalid>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-dark btn-code disabled" type="button">Verify OTP</button>
                                </div>
                            </ng-template>
                            <p class="card-text" style="text-align: center; margin-top: 15px; margin-bottom: 0px;">Didn't receive the code?</p>
                            <p class="card-text try-again" (click)="returnToPhone()" style="text-align: center; text-decoration: underline;">Try again</p>
                        </form>
                    </div>
                </div>
        
            </div>
        </div>
        <div class="col vh-100 photo"></div>
    </div>
</div> 