.card {
    margin: 6rem 0 3rem 0;
    border: none;
}

@media(max-width: 768px){
    .photo{
        display: none;
    }
    .card{
        width: 70%;
        margin-top: 2rem;
    }
}

@media(min-width: 992px){
    .card{
        width: 70%;
    }
}

.photo{
    background: url(../../assets/elyas-pasban-TKD0nf8nfIM-unsplash.jpg) center / cover no-repeat;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
}

.btn-code{
    margin-top: 20px; 
    height: 45px; 
    background-color: #000;
    font-weight: bolder;
}

.form-text {
    color: #ee0000; 
}
