<div class="row row-one">
    <div class="profile-pic-div">
        <img src="../../assets/blank-profile-picture.png"
            alt="Profile pic" max-width="100%" class="profile-img">
        <button class="btn edit-profile-button">Edit Profile</button>
    </div>
    <div class="name-div">
        <p class="user-name">{{user.name}}</p>
        <span class="text-muted userName">@{{user.username}}</span>
        <p class="ratings">
            <span class="sold-items">
                <span class="material-icons" style="color: blue;">storefront</span>
                <span style="margin-left: 0.2rem;">10 sold</span>
            </span>
            <span class="rating-stars">
                <span class="material-icons-outlined">star_outline</span>
                <span class="material-icons-outlined">star_outline</span>
                <span class="material-icons-outlined">star_outline</span>
                <span class="material-icons-outlined">star_outline</span>
                <span class="material-icons-outlined">star_outline</span>
            </span>
            <span style="margin-left: 0.2rem;">(0)</span>
        </p>
        
        <p class="ratings-md">
            <span>
                <div class="sold-number">10</div>
                <div class="sold-item-md">
                    <span class="material-icons" style="color: blue;">storefront</span> 
                    <span style="margin-left: 0.2rem;">sold</span>
                </div>
            </span>
            <span style=" margin-left: 2.5rem;">
                <div class="rating-number">10</div>
                <div class="rating-stars-md">
                    <span class="material-icons-outlined">star_outline</span>
                    <span class="material-icons-outlined">star_outline</span>
                    <span class="material-icons-outlined">star_outline</span>
                    <span class="material-icons-outlined">star_outline</span>
                    <span class="material-icons-outlined">star_outline</span>
                </div>
            </span>
        </p>
    </div>
    <div *ngIf="!loggedInUser" class="follow-buttons">
        <div *ngIf="!isUserFollowed; else notFollowed">
            <button class="btn btn-primary follow-button" (click)="followUser(user)">
                Follow
            </button>
        </div>
        <ng-template #notFollowed>
            <button  class="btn btn-outline-primary dropdown-toggle dropdown unfollow-button">
                Following
                <div class="dropdown-content">
                    <ul class="no-bullets">
                        <li><button class="btn btn-login" (click)="unFollowUser(user)">Unfollow</button></li>
                    </ul>
                </div>
            </button>
        </ng-template>
    </div>
    
</div>
<div class="row row-two">
    <div class="following-div">
        <span><span class="rating-number">20</span> Followers</span> 
        <span class="following-number"><span class="rating-number">20</span> Following</span> 
        <div *ngIf="!loggedInUser" class="follow-md-buttons">
            <div *ngIf="!isUserFollowed; else notFollowedMd">
                <button class="btn btn-primary btn-follow-md" (click)="followUser(user)">
                    Follow
                </button>
            </div>
            <ng-template #notFollowedMd>
                <button  class="btn btn-outline-primary dropdown-toggle dropdown btn-unfollow-md">
                    Following
                    <div class="dropdown-content">
                        <ul class="no-bullets">
                            <li><button class="btn btn-login" (click)="unFollowUser(user)">Unfollow</button></li>
                        </ul>
                    </div>
                </button>
            </ng-template>
        </div>
    </div> 
</div>
<div class="row row-three">
    {{user.bio}}
</div>
<div class="row row-four">
    <div class="products-buttons d-flex justify-content-center">
        <button class="btn btn-light" [className]="buttonValue === 1 ? 'activated' : 'inactivated'" (click)="allButton()">All</button>
        <button class="btn btn-light" [className]="buttonValue === 2 ? 'activated' : 'inactivated'" (click)="sellingButton()">Selling</button> 
        <button class="btn btn-light" [className]="buttonValue === 3 ? 'activated' : 'inactivated'" (click)="soldButton()">Sold</button>
    </div> 
</div>
<div class="row row-five" *ngIf="(buttonValue === 1); else bodyOne">
    <p>@{{user.username}} does not have anything yet. Please check back later.</p>
</div>
<ng-template #bodyOne>
    <div class="row row-five" *ngIf="(buttonValue === 2); else bodyTwo">
        <p>@{{user.username}} doesn't have anything to sell yet. Please check back later.</p>
    </div>
</ng-template>
<ng-template #bodyTwo>
    <div class="row row-five">
        <p>@{{user.username}} hasn't sold anything yet. Please check back later.</p>
    </div>
</ng-template>

