.row-one{
    margin-top: 2rem;
}

.row-two{
    margin-top: 1rem;
}

.row-three{
    margin-left: 1.5rem;
    margin-top: 1rem;
    width: 50%;
}

.profile-pic-div{
    height: 8rem; 
    width: 6rem; 
    margin-left: 2rem; 
    float: left;
}

.edit-profile-button{
    padding: 0; 
    width: 5rem; 
    margin-left: -0.3rem;
    color: blue;
    font-size: 15px;
}

.profile-img{
    margin-left: -0.75rem; 
    height: 6rem; 
    width: 6rem; 
    border-radius: 50%;
}

.name-div{
    float: right; 
    margin-left: 1.7rem; 
    width: 60%; 
    padding-left: 0;
    padding-top: 0.5rem;
}

.user-name{
    font-family: 'Public Sans', sans-serif; 
    height: 2rem; 
    font-size: 25px; 
    margin: 0; 
    padding: 0;
}

.name-and-follow{
    display: flex; 
    align-content: center;
}

.btn-follow-md{
    margin-left: auto; 
    height: 2rem; 
    padding: 0.2rem 0.3rem 1.5rem 0.3rem;
}

.userName{
    margin: 0; 
    padding-top: 0;
}

.sold-items{ 
    display:flex; 
    align-items: center;
}

.rating-stars{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.ratings{
    margin-top: 20px;
    display:flex; 
    align-items: center;
}

.following-div{
    margin-left: 1.5rem;
}

.follow-button{
    margin-right: 2rem; 
    margin-left:auto; 
    width:6rem; 
    height: 2.4rem; 
    float: right;
}

@media(max-width: 768px) {
    .row-one{
        margin-top: 0.5rem; 
    }
    .row-three{
        width: 93%;
    }
    .user-name{
        font-size: 20px; 
    }
    .ratings{
        display:none; 
    }
    .ratings-md{
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
    .sold-item-md{
        display: flex;
        align-items: center;
    }
    .rating-stars-md{
        display: flex;
        align-items: center;
    }
    .follow-button{
        display: none;
    }
}

@media (min-width: 992px) {
    .ratings-md{
        display: none; 
    }
    .btn-follow-md{
        display: none;
    }
}

