<div class="row row-one">
    <div class="profile-pic-div">
        <img src="../../assets/blank-profile-picture.png"
            alt="Profile pic" max-width="100%" class="profile-img">
        <button class="btn edit-profile-button">Edit Profile</button>
    </div>
    <div class="name-div">
        <span class="name-and-follow">
            <p class="user-name">User Name</p> 
            <button class="btn btn-primary btn-follow-md">Following</button>
        </span>
        <span class="text-muted userName">@username</span>
        <p class="ratings">
            <span class="sold-items">
                <span class="material-icons" style="color: blue;">storefront</span>
                <span style="margin-left: 0.2rem;">10 sold</span>
            </span>
            <span class="rating-stars">
                <span class="material-icons-outlined">star_outline</span>
                <span class="material-icons-outlined">star_outline</span>
                <span class="material-icons-outlined">star_outline</span>
                <span class="material-icons-outlined">star_outline</span>
                <span class="material-icons-outlined">star_outline</span>
            </span>
            <span style="margin-left: 0.2rem;">(0)</span>
        </p>
        
        <p class="ratings-md">
            <span>
                <div class="sold-number">10</div>
                <div class="sold-item-md">
                    <span class="material-icons" style="color: blue;">storefront</span> 
                    <span style="margin-left: 0.2rem;">sold</span>
                </div>
            </span>
            <span style=" margin-left: 2.5rem;">
                <div class="rating-number">10</div>
                <div class="rating-stars-md">
                    <span class="material-icons-outlined">star_outline</span>
                    <span class="material-icons-outlined">star_outline</span>
                    <span class="material-icons-outlined">star_outline</span>
                    <span class="material-icons-outlined">star_outline</span>
                    <span class="material-icons-outlined">star_outline</span>
                </div>
            </span>
        </p>
    </div>
    <button class="btn btn-primary follow-button">Follow</button>
</div>
<div class="row row-two">
    <div class="following-div">
        <span>20 Followers</span> 
        <span style="margin-left: 3rem;">20 Following</span>
    </div> 
</div>
<div class="row row-three">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.
</div>
