.row-one{
    margin-top: 1rem;
}

.row-two{
    margin-top: 1rem;
}

.row-three{
    margin-left: 1.5rem;
    margin-top: 1rem;
    width: 50%;
}

.row-four{
    margin-top: 1rem;
}

.row-five{
    margin-top: 0.5rem;
}

.row-five p{
    text-align: center;
}

.profile-pic-div{
    height: 8rem; 
    width: 6rem; 
    margin-left: 2rem; 
    float: left;
}

.edit-profile-button{
    padding: 0; 
    width: 5rem; 
    margin-left: -0.3rem;
    color: blue;
    font-size: 15px;
}

.profile-img{
    margin-left: -0.75rem; 
    height: 6rem; 
    width: 6rem; 
    border-radius: 50%;
}

.name-div{
    float: right; 
    margin-left: 1.7rem; 
    width: 60%; 
    padding-left: 0;
    padding-top: 0.5rem;
}

.user-name{
    font-family: 'Public Sans', sans-serif;  
    font-weight: 900;
    font-size: 25px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.follow-md-buttons{
    height: 2rem; 
    display: flex;
    justify-content: center;
}

.btn-unfollow-md{
    height: 2rem; 
    padding-top: 0.2rem;
    padding-bottom: 1.5rem;
}

.btn-unfollow-md:hover{
    background: none;
    color: #007bff; 
}

.btn-unfollow-md:focus{
    box-shadow: none;
}

.btn-follow-md{
    height: 2rem; 
    padding-top: 0.2rem;
    padding-bottom: 1.5rem;
}

.userName{
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sold-items{ 
    display:flex; 
    align-items: center;
}

.rating-stars{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.ratings{
    margin-top: 20px;
    display:flex; 
    align-items: center;
}

.follow-buttons{
    width: 7rem;
    margin-right: 2rem; 
    margin-left:auto; 
    height: 2.4rem; 
    float: right;
    display: flex;
    justify-content: center;
}

.unfollow-button{
    width: 7rem; 
    height: 2.4rem; 
}

.unfollow-button:hover{
    background: none;
    color: #007bff; 
}

.unfollow-button:focus{
    box-shadow: none;
}

.follow-button{
    width: 7rem; 
    height: 2.4rem; 
}

.sold-number{
    text-align: center;
    font-family: 'Public Sans', sans-serif;
}

.rating-number{
    text-align: center;
    font-family: 'Public Sans', sans-serif;
}

.following-number{
    color:black;
}

.following-number:hover{
    text-decoration: none;
}

.follower-number{
    color:black;
}

.follower-number:hover{
    text-decoration: none;
}

@media(max-width: 768px) {
    .row-one{
        margin-top: 0.5rem; 
    }
    .row-three{
        width: 90%;
    }
    .row-five p{
        margin-left: 1rem;
        width: 95%;
    }
    .user-name{
        font-size:1.125rem; 
    }
    .ratings{
        display:none; 
    }
    .ratings-md{
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
    .sold-item-md{
        display: flex;
        align-items: center;
    }
    .rating-stars-md{
        display: flex;
        align-items: center;
    }
    .follow-buttons{
        display: none;
    }
    .following-div{
        display: flex;
        justify-content: space-evenly;
    }
    .dropdown-content {
        width: 7rem;
    }
}

@media (min-width: 992px) {
    .row-two{
        height: 1.5rem;
    }
    .ratings-md{
        display: none; 
    }
    .btn-unfollow-md{
        display: none;
    }
    .btn-follow-md{
        display: none;
    }
    .following-div{
        margin-left: 1.5rem;
    }
    .following-number{
        margin-left: 3rem;
    }
    .dropdown-content {
        width: 7rem;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -0.755rem;
    margin-top: 5px;
}

.dropdown-content button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
    border-radius: 0;
}

.dropdown-content button:hover {
    color: rgb(255, 255, 255);
    background-color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.no-bullets{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.allItems{
    margin-left: -0.6rem !important;
}

.activated{
    margin-left: 1rem;
    background: black;
    color: white;
    font-weight: 900;
    box-shadow: none;
    border-style: none;
}

.inactivated{
    margin-left: 1rem;
    padding: 0;
    font-weight: 200;
    background: none;
    color: rgb(0, 0, 0);
    border-style: none;
}





