.row-one{
    margin-top: 1rem;
}

.row-two{
    margin-top: 1rem;
}

.row-three{
    margin-left: 1.5rem;
    margin-top: 1rem;
    width: 50%;
}

.social-media{
    margin-left: 0.2rem;
    margin-top: 1rem;
}

.social-icon{
    padding-left: 0;
    width: 33.33%;
    color: rgb(29, 155, 240);
    font-size: 15px;
    display: flex;
    align-items: center;
}

.social-icon a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row-four{
    margin-top: 1rem;
}

.row-five{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.row-five p{
    text-align: center;
}

.followers-span-modal{
    padding-left: 1.5rem; 
    width: 100%; 
    display: flex;
    overflow: hidden;
}

.profile-pic-div{
    height: 8rem; 
    width: 6rem; 
    margin-left: 2rem; 
    float: left;
}

.profile-pic-div-modal{
    height: 6rem; 
    width: 4rem;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.profile-pic-div-modal :hover{
    cursor: pointer;
}

.edit-profile-button{
    padding: 0; 
    width: 5rem; 
    margin-left: -0.3rem;
    color: blue;
    font-size: 15px;
}

.profile-img{
    margin-left: -0.75rem; 
    height: 6rem; 
    width: 6rem;
    object-fit: cover; 
    border-radius: 50%;
}

.profile-img-modal{
    height: 4rem; 
    width: 4rem; 
    object-fit: cover;
    border-radius: 50%;
}

.name-div{
    float: right; 
    margin-left: 1rem; 
    width: 60%; 
    padding-left: 0;
    padding-top: 0.5rem;
}

.name-modal-div{
    margin-left: 1.8rem; 
    width: 60%; 
    display: inline-block;
    padding-left: 0;
    padding-top: 0.5rem;
}

.name-modal-div:hover{
    cursor: pointer;
}

.user-name{
    font-family: 'Public Sans', sans-serif;  
    font-weight: 900;
    font-size: 25px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.user-name-modal{
    font-family: 'Public Sans', sans-serif;  
    font-weight: 900;
    font-size: 20px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.follow-md-buttons{
    height: 2rem; 
    display: flex;
    justify-content: center;
}

.btn-unfollow-md{
    height: 2rem; 
    padding-top: 0.2rem;
    padding-bottom: 1.5rem;
}

.btn-unfollow-md:hover{
    background: none;
    color: #007bff; 
}

.btn-unfollow-md:focus{
    box-shadow: none;
}

.btn-follow-md{
    height: 2rem; 
    padding-top: 0.2rem;
    padding-bottom: 1.5rem;
}

.userName{
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sold-items{ 
    display:flex; 
    align-items: center;
}

.rating-stars{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.ratings{
    margin-top: 20px;
    display:flex; 
    align-items: center;
}

.follow-buttons{
    width: 7rem;
    margin-right: 2rem; 
    margin-left:auto; 
    height: 2.4rem; 
    float: right;
    display: flex;
    justify-content: center;
}

.modal-follow-buttons{
    width: 7rem;
    height: 2.4rem; 
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
}

.unfollow-button{
    width: 7rem; 
    height: 2.4rem; 
}

.modal-unfollow-button{
    width: 7rem; 
    height: 2.4rem;
}

.unfollow-button:hover{
    background: none;
    color: #007bff; 
}

.unfollow-button:focus{
    box-shadow: none;
}

.follow-button{
    width: 7rem; 
    height: 2.4rem; 
}

.modal-follow-button{
    width: 7rem; 
    height: 2.4rem;
}

.sold-number{
    text-align: center;
    font-family: 'Public Sans', sans-serif;
}

.rating-number{
    text-align: center;
    font-family: 'Public Sans', sans-serif;
}

.following-number{
    color:black;
}

.following-number:hover{
    text-decoration: none;
}

.follower-number{
    color:black;
}

.follower-number:hover{
    text-decoration: none;
}

@media(max-width: 768px) {
    .row-one{
        margin-top: 0.5rem; 
    }
    .row-three{
        width: 90%;
        margin-left: 0.5rem;
    }
    .row-five p{
        margin-left: 1rem;
        width: 95%;
    }
    .social-icon{
        font-size: 13px;
        margin-bottom: 8px;
    }
    .user-name{
        font-size:1.125rem; 
    }
    .user-name-modal{
        font-size:1rem; 
    }
    .ratings{
        display:none; 
    }
    .ratings-md{
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
    .sold-item-md{
        display: flex;
        align-items: center;
    }
    .rating-stars-md{
        display: flex;
        align-items: center;
    }
    .follow-buttons{
        display: none;
    }
    .name-modal-div{ 
        width: 40%; 
        margin-left: 0.5rem;
    }
    .modal-follow-buttons{
        margin-right: 0.5rem; 
        margin-top: 1rem;
    }
    .profile-pic-div-modal{
        margin-left: 0.5rem; 
    }
    .following-div{
        display: flex;
        justify-content: space-evenly;
    }
    .dropdown-content {
        width: 7rem;
    }
}

@media (min-width: 992px) {
    .row-two{
        height: 1.5rem;
    }
    .social-media{
        margin-left: 1rem;
    }
    .ratings-md{
        display: none; 
    }
    .btn-unfollow-md{
        display: none;
    }
    .btn-follow-md{
        display: none;
    }
    .following-div{
        margin-left: 1.5rem;
    }
    .following-number{
        margin-left: 3rem;
    }
    .dropdown-content {
        width: 6.9rem;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -0.755rem;
    margin-top: 5px;
}

.dropdown-content button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
    border-radius: 0;
}

.dropdown-content button:hover {
    color: rgb(255, 255, 255);
    background-color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.no-bullets{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.allItems{
    margin-left: -0.6rem !important;
}

.activated{
    margin-left: 1rem;
    background: black;
    color: white;
    box-shadow: none;
    border-style: none;
}

.inactivated{
    margin-left: 1rem;
    padding: 0;
    background: none;
    color: rgb(0, 0, 0);
    border-style: none;
}

/* .product-images{
    width: 13rem;
    height: 13rem;
    background-color: rgb(222, 222, 222);
    margin-left: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.product-images{
    height: 15rem !important;
    cursor: pointer;
    margin-bottom: 1.5rem;
    padding: 0 0.5rem;
} 

.product-images img{
    width: 100%;
    height: 15rem; 
    object-fit: cover;
}

.modal-title{
    font-family: 'Public Sans', sans-serif;
}

.modal-header{
    border-bottom-style: none;
}

.modal-body{
    padding: 0;
}

.modal-buttons{
    padding-top: 1.5rem;
    border-bottom-color: rgb(215, 215, 215); 
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem;
}

.inactivated-modal{
    width: 50%;
    height: 2.4rem; 
    border-style: none;
    background: none;
    color: black;
}

.activated-modal{
    width: 50%;
    background: black;
    color: white;
    border-style: none;
    height: 2.4rem; 
}

.login-modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-modal-body-text{
    font-family: 'Public Sans', sans-serif;
    font-size: 25px;
    overflow-wrap: break-word;
    line-height: 32px;
    margin-top: 2rem;
}

.modal-login-button{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal-signup-button{
    margin-bottom: 2.5rem;
}

.modal-login-button button{
    height: 3.5rem; 
    border-radius: 9999px;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
}

.modal-signup-button button{
    margin-bottom: 3rem;
    height: 3.5rem; 
    border-radius: 9999px; 
    color: rgb(29, 155, 240);
    border-color: rgb(207, 217, 222);
    border-width: 1px;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
}




