<div class="row row-one">
    <div class="profile-pic-div">
        <img [src]="profilePic ? profilePic : '../../assets/blank-profile-picture.png'"
            alt="Profile pic" max-width="100%" class="profile-img">
        <span *ngIf="loggedInUser">
            <button class="btn edit-profile-button" (click)="editProfile(user.username)">Edit Profile</button>
        </span>
    </div>
    <div class="name-div">
        <span class="placeholder-glow" *ngIf="loaderService.isLoading | async; else notPending">
            <p class="user-name placeholder bg-primary col" style="width: 25%;"></p>
            <br>
            <span class="text-muted userName placeholder bg-primary col" style="width: 25%;"></span>
        </span> 
        <ng-template #notPending>
            <span>
                <p class="user-name">{{user.name}}</p>
                <span class="text-muted userName">@{{user.username}}</span>
            </span>
        </ng-template>
        <p class="ratings">
            <span class="sold-items">
                <span class="material-icons" style="color: blue;">storefront</span>
                <span style="margin-left: 0.2rem;">10 sold</span>
            </span>
            <span class="rating-stars">
                <span class="material-icons-outlined">star_outline</span>
                <span class="material-icons-outlined">star_outline</span>
                <span class="material-icons-outlined">star_outline</span>
                <span class="material-icons-outlined">star_outline</span>
                <span class="material-icons-outlined">star_outline</span>
            </span>
            <span style="margin-left: 0.2rem;">(0)</span>
        </p>
        
        <p class="ratings-md">
            <span>
                <div class="sold-number">10</div>
                <div class="sold-item-md">
                    <span class="material-icons" style="color: blue;">storefront</span> 
                    <span style="margin-left: 0.2rem;">sold</span>
                </div>
            </span>
            <span style=" margin-left: 2.5rem;">
                <div class="rating-number">10</div>
                <div class="rating-stars-md">
                    <span class="material-icons-outlined">star_outline</span>
                    <span class="material-icons-outlined">star_outline</span>
                    <span class="material-icons-outlined">star_outline</span>
                    <span class="material-icons-outlined">star_outline</span>
                    <span class="material-icons-outlined">star_outline</span>
                </div>
            </span>
        </p>
    </div>
    <div *ngIf="!loggedInUser" class="follow-buttons">
        <div *ngIf="!isUserFollowed; else Followed">
            <div *ngIf="LoginStatus; else LoggedOut">
                <button class="btn btn-primary follow-button" (click)="followUser($event, user)">
                    Follow
                </button>
            </div>
            <ng-template #LoggedOut>
                <button class="btn btn-primary follow-button" (click)="toggleModal(user.name)" data-bs-toggle="modal" data-bs-target="#LoginFollowModal">
                    Follow
                </button>
            </ng-template>
        </div>
        <ng-template #Followed>
            <button  class="btn btn-outline-primary dropdown-toggle dropdown unfollow-button">
                Following
                <div class="dropdown-content">
                    <ul class="no-bullets">
                        <li><button class="btn btn-login" (click)="unFollowUser(user)">Unfollow</button></li>
                    </ul>
                </div>
            </button>
        </ng-template>
    </div>
</div>
<div class="row row-two">
    <div class="following-div">
        <a href="#followModal" data-bs-toggle="modal" (click)="followers()" class="follower-number"><span class="rating-number">{{user.followings?.length}}</span> Followers</a> 
        <a href="#followModal" data-bs-toggle="modal" (click)="following()" class="following-number"><span class="rating-number">{{userFollows?.length}}</span> Following</a> 
        
        <!-- Modal -->
        <div class="modal" id="followModal" tabindex="-1" aria-labelledby="followModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="followModalLabel">@{{user.username}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="overflow-x: hidden;">
                        <div class="modal-buttons d-flex justify-content-center">
                            <button class="btn btn-light" (click)="followers()" [className]="followValue === 1 ? 'activated-modal' : 'inactivated-modal'">Followers</button>
                            <button class="btn btn-light" (click)="following()" [className]="followValue === 2 ? 'activated-modal' : 'inactivated-modal'">Following</button>
                        </div>


                        <ng-container [ngSwitch]="followValue">
                            <ng-container *ngSwitchCase="1">
                                <span class="placeholder-glow d-flex justify-content-center text-primary" style="padding-top: 20%;" *ngIf="loaderService.isLoading | async; else notPending">
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>        
                                </span> 
                                <ng-template #notPending>
                                    <div class="row row-one">
                                        <span class="placeholder-glow d-flex justify-content-center" *ngIf="!user.followings.length; else hasFollowers">
                                            @{{user.username}} has no followers yet.
                                        </span>

                                        <ng-template #hasFollowers>
                                            <span *ngFor="let follower of userFollowersProfiles" class="followers-span-modal">
                                                <div class="profile-pic-div-modal" (click)="goToProfile(follower.username)" data-bs-dismiss="modal">
                                                    <img [src]="follower.profilePicture.length ? followerImage[follower.username] : '../../assets/blank-profile-picture.png'"
                                                        alt="Profile pic" max-width="100%" class="profile-img-modal">
                                                </div>
                                                <div class="name-modal-div" (click)="goToProfile(follower.username)" data-bs-dismiss="modal">
                                                    <p class="user-name-modal">{{follower.name}}</p>
                                                    <span class="text-muted userName">@{{follower.username}}</span>
                                                </div>

                                                <div *ngIf="!loggedInUser; else LoggedInUser" class="modal-follow-buttons">
                                                    <span *ngIf="this.loggedInUsername === follower.username; else notLoggedInUsername">
                                                    </span>
                                                    <ng-template #notLoggedInUsername>
                                                        <div *ngIf="!isUserFollowedObject[follower.username]; else notFollowed">
                                                            <div *ngIf="LoginStatus; else LoggedOut">
                                                                <button class="btn btn-primary modal-follow-button" (click)="followUserInModal(follower)">
                                                                    Follow
                                                                </button>
                                                            </div>
                                                            <ng-template #LoggedOut>
                                                                <button class="btn btn-primary modal-follow-button" (click)="toggleModal(follower.name)" data-bs-toggle="modal" data-bs-target="#LoginFollowModal">
                                                                    Follow
                                                                </button>
                                                            </ng-template>
                                                        </div>
                                                        <ng-template #notFollowed>
                                                            <button  class="btn btn-outline-primary dropdown-toggle dropdown modal-unfollow-button">
                                                                Following
                                                                <div class="dropdown-content">
                                                                    <ul class="no-bullets">
                                                                        <li><button class="btn btn-login" (click)="unFollowUserInModal(follower)">Unfollow</button></li>
                                                                    </ul>
                                                                </div>
                                                            </button>
                                                        </ng-template>
                                                    </ng-template>
                                                </div>
                                                <ng-template #LoggedInUser>
                                                    <span class="modal-follow-buttons">
                                                        <div *ngIf="!isUserFollowedObject[follower.username]; else Followed">
                                                            <button class="btn btn-primary modal-follow-button" (click)="followUserInModal(follower)">
                                                                Follow
                                                            </button>
                                                        </div>
                                                        <ng-template #Followed>
                                                            <button  class="btn btn-outline-primary dropdown-toggle dropdown modal-unfollow-button">
                                                                Following
                                                                <div class="dropdown-content">
                                                                    <ul class="no-bullets">
                                                                        <li><button class="btn btn-login" (click)="unFollowUserInModal(follower)">Unfollow</button></li>
                                                                    </ul>
                                                                </div>
                                                            </button>
                                                        </ng-template>
                                                    </span>
                                                </ng-template>
                                            </span>
                                        </ng-template>
                                    </div>
                                </ng-template>
                            </ng-container>
                            <ng-container *ngSwitchCase="2">
                                <span class="placeholder-glow d-flex justify-content-center text-primary" style="padding-top: 20%;" *ngIf="loaderService.isLoading | async; else notPending">
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>        
                                </span> 
                                <ng-template #notPending>
                                    <div class="row row-one">
                                        <span class="placeholder-glow d-flex justify-content-center" *ngIf="!userFollows.length; else hasFollowers">
                                            @{{user.username}} is not following anyone yet.
                                        </span>

                                        <ng-template #hasFollowers>
                                            <span *ngFor="let follower of userFollows" class="followers-span-modal">
                                                <div class="profile-pic-div-modal" (click)="goToProfile(follower.username)" data-bs-dismiss="modal">
                                                    <img [src]="follower.profilePicture.length ? followerImage[follower.username] : '../../assets/blank-profile-picture.png'"
                                                        alt="Profile pic" max-width="100%" class="profile-img-modal">
                                                </div>
                                                <div class="name-modal-div" (click)="goToProfile(follower.username)" data-bs-dismiss="modal">
                                                    <p class="user-name-modal">{{follower.name}}</p>
                                                    <span class="text-muted userName">@{{follower.username}}</span>
                                                </div>
                                                <div *ngIf="!loggedInUser; else LoggedInUser" class="modal-follow-buttons">
                                                    <span *ngIf="this.loggedInUsername === follower.username; else notLoggedInUsername">
                                                    </span>
                                                    <ng-template #notLoggedInUsername>
                                                        <div *ngIf="!isUserFollowedObject[follower.username]; else notFollowed">
                                                            <div *ngIf="LoginStatus; else LoggedOut">
                                                                <button class="btn btn-primary modal-follow-button" (click)="followUserInModal(follower)">
                                                                    Follow
                                                                </button>
                                                            </div>
                                                            <ng-template #LoggedOut>
                                                                <button class="btn btn-primary modal-follow-button" (click)="toggleModal(follower.name)" data-bs-toggle="modal" data-bs-target="#LoginFollowModal">
                                                                    Follow
                                                                </button>
                                                            </ng-template>
                                                        </div>
                                                        <ng-template #notFollowed>
                                                            <button  class="btn btn-outline-primary dropdown-toggle dropdown modal-unfollow-button">
                                                                Following
                                                                <div class="dropdown-content">
                                                                    <ul class="no-bullets">
                                                                        <li><button class="btn btn-login" (click)="unFollowUserInModal(follower)">Unfollow</button></li>
                                                                    </ul>
                                                                </div>
                                                            </button>
                                                        </ng-template>
                                                    </ng-template>
                                                </div>
                                                <ng-template #LoggedInUser>
                                                    <span class="modal-follow-buttons">
                                                        <button  class="btn btn-outline-primary dropdown-toggle dropdown modal-unfollow-button">
                                                            Following
                                                            <div class="dropdown-content">
                                                                <ul class="no-bullets">
                                                                    <li><button class="btn btn-login" (click)="unFollowUserInModal(follower)">Unfollow</button></li>
                                                                </ul>
                                                            </div>
                                                        </button>
                                                    </span>
                                                </ng-template>
                                            </span>
                                        </ng-template>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        
        <div *ngIf="!loggedInUser" class="follow-md-buttons">
            <div *ngIf="!isUserFollowed; else FollowedMd">
                <div *ngIf="LoginStatus; else LoggedOut">
                    <button class="btn btn-primary btn-follow-md" (click)="followUser($event, user)">
                        Follow
                    </button>
                </div>
                <ng-template #LoggedOut>
                    <button class="btn btn-primary btn-follow-md" (click)="toggleModal(user.name)" data-bs-toggle="modal" data-bs-target="#LoginFollowModal">
                        Follow
                    </button>
                </ng-template>
            </div>
            <ng-template #FollowedMd>
                <button  class="btn btn-outline-primary dropdown-toggle dropdown btn-unfollow-md">
                    Following
                    <div class="dropdown-content">
                        <ul class="no-bullets">
                            <li><button class="btn btn-login" (click)="unFollowUser(user)">Unfollow</button></li>
                        </ul>
                    </div>
                </button>
            </ng-template>
        </div>
    </div> 
</div>
<div class="row row-three">
    {{user.bio}}
</div>
<div class="row social-media">
    <span *ngIf="user.facebookLink" class="social-icon">
        <img src="../../../assets/5305153_fb_facebook_facebook logo_icon.ico"
        alt="Facebook" width="20px" style="padding-right: 2px;">
        <a href="{{user.facebookLink}}" target="_blank">{{user.facebookLink}}</a>
    </span>
    <span *ngIf="user.twitterLink" class="social-icon">
        <img src="../../../assets/5305170_bird_social media_social network_tweet_twitter_icon.ico"
        alt="Twitter" width="20px" style="padding-right: 2px;">
        <a href="{{user.twitterLink}}" target="_blank">{{user.twitterLink}}</a>
    </span>
    <span *ngIf="user.instagramLink" class="social-icon">
        <img src="../../../assets/5335781_camera_instagram_social media_instagram logo_icon.ico"
        alt="Instagram" width="20px" style="padding-right: 2px;">
        <a href="{{user.instagramLink}}" target="_blank">{{user.instagramLink}}</a>
    </span>
</div>

<div class="row row-four">
    <div class="d-flex justify-content-center">
        <button class="btn btn-light" [className]="buttonValue === 1 ? 'activated' : 'inactivated'" (click)="allButton()">All</button>
        <button class="btn btn-light" [className]="buttonValue === 2 ? 'activated' : 'inactivated'" (click)="sellingButton()">Selling</button> 
        <button class="btn btn-light" [className]="buttonValue === 3 ? 'activated' : 'inactivated'" (click)="soldButton()">Sold</button>
    </div> 
</div>
<div class="row "
    [ngClass]="{
        'row-cols-2': products,
        'row-cols-sm-3': products,
        'row-cols-md-5': products
    }"
    *ngIf="(buttonValue === 1); else bodyOne">
    <span *ngIf="(loaderService.isLoading | async); else bodyNotLoading" class="col mx-auto pdts-img-loader">
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    </span>
    <ng-template #bodyNotLoading>
        <span *ngIf="!products; else Products" class="no-pdts-span">
            @{{user.username}} does not have anything yet. Please check back later.
        </span>
        <ng-template #Products>
            <span *ngFor="let product of products" class="product-images col" 
            [ngClass]="{
                'margin-bottom-class1': loggedInUser,
                'margin-bottom-class2': !loggedInUser}">
                <span>
                    <img src="{{product.productImages[0]?.imageData}}" alt="Product pic" draggable="false">
                    <span *ngIf="loggedInUser" class="material-icons edit-product-button" (click)="editProduct(product)">edit</span>
                    <span class="pdt-info">
                        <span style="font-weight: 900; font-size: 15px;">Ugx {{product.itemPrice | number}}</span>
                        <span *ngIf="globalUsername; else LikerLoggedOut">
                            <span *ngIf="isProductLiked[product.id]; else notLiked" class="pdt-likes">
                                <span class="material-symbols-sharp" (click)="likeUser(product)" style="color: #e25822;">
                                    local_fire_department
                                </span> {{product.like.length !== 0 ? product.like.length : ''}}
                            </span>
                            <ng-template #notLiked>
                                <span class="pdt-likes">
                                    <span class="material-symbols-outlined" (click)="likeUser(product)" style="color: #e25822;">
                                        local_fire_department
                                    </span> {{product.like.length !== 0 ? product.like.length : ''}}
                                </span>
                            </ng-template>
                        </span>
                        <ng-template #LikerLoggedOut>
                            <span class="pdt-likes">
                                <span class="material-symbols-outlined" style="color: #e25822;" data-bs-toggle="modal" 
                                data-bs-target="#LoginLikeModal">
                                    local_fire_department
                                </span> {{product.like.length !== 0 ? product.like.length : ''}}
                            </span>
                        </ng-template>
                    </span>
                </span>
                <div>
                    <span *ngIf="product.originalPrice" style="font-size: 13px; display: flex; align-items: center;">
                        <span class="material-icons info-icon" style="font-size: 13px; margin-right: 5px;"
                        data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Right popover">
                            info
                        </span>
                        <span><i><s>Ugx {{product.originalPrice | number}}</s></i></span>
                        <span style="font-size: 13px; margin-left: 8px; color: red; font-weight: 500;">
                            -{{((product.originalPrice - product.itemPrice)/product.originalPrice)*100 | number : '1.1-1'}}%
                        </span>
                    </span>
                </div>
                <div *ngIf="loggedInUser" class="boost-button">
                    <span *ngIf="product.boost[0]?.boosted; else noCounter">
                        <span *ngIf="productBoost[product.id].hours > 0 
                        || productBoost[product.id].minutes > 0 
                        || productBoost[product.id].seconds > 0; else noCounter">
                            <button class="btn counter-button not-counter-button">
                                {{productBoost[product.id].hours >= 1 ? '0'+productBoost[product.id].hours : '0'+0}} : 
                                {{productBoost[product.id].minutes < 10 ? '0'+productBoost[product.id].minutes:productBoost[product.id].minutes}} : 
                                {{productBoost[product.id].seconds < 10 ? '0'+productBoost[product.id].seconds:productBoost[product.id].seconds}}
                            </button>
                        </span>
                    </span>
                    <ng-template #noCounter>
                        <button class="btn not-counter-button" (click)="getProductId(product.id)" data-bs-toggle="modal" data-bs-target="#BoostModal">
                            Boost <span class="material-icons-outlined">bolt</span>
                        </button>
                    </ng-template>
                </div>
            </span>
        </ng-template>
    </ng-template>
</div>
<ng-template #bodyOne>
    <div class="row row-five" *ngIf="(buttonValue === 2); else bodyTwo">
        <p>@{{user.username}} doesn't have anything to sell yet. Please check back later.</p>
    </div>
</ng-template>
<ng-template #bodyTwo>
    <div class="row row-five">
        <p>@{{user.username}} hasn't sold anything yet. Please check back later.</p>
    </div>
</ng-template>

<!-- Login Modal -->
<div class="modal fade" id="LoginFollowModal" tabindex="-1" aria-labelledby="LoginFollowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-auto">
                <div class="login-modal-body">
                    <span class="material-icons-outlined modal-icons">person_add_alt</span>
                </div>
                <div class="login-modal-body mx-auto login-modal-body-text" style="width: 90%;">
                    <p style="width: 100%; text-align: center;">Login to follow {{modalUserName}} and see what they are selling on Refit</p>
                </div>
                <div class="login-modal-body mx-auto modal-login-button">
                    <button class="btn btn-primary w-75" type="button" (click)="goToLogin()"
                    data-bs-dismiss="modal" aria-label="close">
                        Log in
                    </button>
                </div>
                <div class="login-modal-body mx-auto modal-signup-button" (click)="goToSignup()">
                    <button class="btn w-75" type="button"
                    data-bs-dismiss="modal" aria-label="close">
                        Sign up
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Liker Logged out Modal -->
<div class="modal fade" id="LoginLikeModal" tabindex="-1" aria-labelledby="LoginLikeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-auto">
                <div class="login-modal-body">
                    <span class="material-icons-outlined modal-icons">favorite_border</span>
                </div>
                <div class="login-modal-body mx-auto login-modal-body-text" style="width: 90%;">
                    <p style="width: 100%; text-align: center;">Login to like this product and several others on Refit</p>
                </div>
                <div class="login-modal-body mx-auto modal-login-button">
                    <button class="btn btn-primary w-75" type="button" (click)="goToLogin()"
                    data-bs-dismiss="modal" aria-label="close">
                        Log in
                    </button>
                </div>
                <div class="login-modal-body mx-auto modal-signup-button" (click)="goToSignup()">
                    <button class="btn w-75" type="button"
                    data-bs-dismiss="modal" aria-label="close">
                        Sign up
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Boost Modal -->
<div class="modal fade" id="BoostModal" tabindex="-1" aria-labelledby="BoostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-scrollable">
        <div class="modal-content boost-modal">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-auto">
                <div class="login-modal-body">
                    <span class="material-icons-outlined bolt-modal-icon">bolt</span> 
                </div>
                <div class="login-modal-body mx-auto login-modal-body-text" style="width: 100%;">
                    <p class="boost-modal-text">Enhance Product Visibility</p>
                </div>
                <span class="boost-modal-sub-text">
                    Boost your products to been seen first in their respective categories, sub-categories and on users' homepages! 
                </span>
                <div class="pricing-categories row row-cols-4 row-cols-sm-4 row-cols-md-5">
                    <span class="each-pricing-categories col" (click)="boostPriceClick(1, 30)"
                    [class.each-pricing-categories-clicked]="boostPriceClicked && boostPriceId === 1">
                        <span>
                            <span class="duration-figures" 
                            [class.duration-figures-clicked]="boostPriceClicked && boostPriceId === 1">
                                30
                            </span>
                            <span class="duration-words">Minutes</span>
                            <span class="boost-price">Ugx 1,000</span>
                        </span>
                    </span>

                    <span class="each-pricing-categories col" (click)="boostPriceClick(2, 60)"
                    [class.each-pricing-categories-clicked]="boostPriceClicked && boostPriceId === 2">
                        <span>
                            <span class="duration-figures" 
                            [class.duration-figures-clicked]="boostPriceClicked && boostPriceId === 2">
                                1
                            </span>
                            <span class="duration-words">Hour</span>
                            <span class="boost-price">Ugx 1,500</span>
                        </span>
                    </span>
                    
                    <span class="each-pricing-categories col" (click)="boostPriceClick(3, 120)"
                    [class.each-pricing-categories-clicked]="boostPriceClicked && boostPriceId === 3">
                        <span>
                            <span class="duration-figures" 
                            [class.duration-figures-clicked]="boostPriceClicked && boostPriceId === 3">
                                2
                            </span>
                            <span class="duration-words">Hours</span>
                            <span class="boost-price">Ugx 2,500</span>
                        </span>
                    </span>
                </div>
                <span class="pricing-categories row row-cols-4 row-cols-sm-4 row-cols-md-5" 
                style="margin-top: 0;">
                    <span class="savings-span"></span>
                    <span class="savings-span">Save 25%</span>
                    <span class="savings-span">Save 36%</span>
                </span>

                <div class="login-modal-body mx-auto modal-login-button" style="margin-top: 2rem;">
                    <button class="btn btn-primary button-width" type="button" data-bs-dismiss="modal"
                    aria-label="close" (click)="counterMethod(minutesBoosted)">
                        Continue
                    </button>
                </div>
                <div class="login-modal-body mx-auto modal-cancel-button">
                    <button class="btn" style="width: 60%;" type="button" data-bs-dismiss="modal" aria-label="close">
                        Next time maybe!
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


