<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: 900;">Reset Password?</h5>
                <form #f="ngForm" (ngSubmit)="OnSubmit(f)" style="margin-top: 15px;">
                    <span class="text-muted" style="font-size: small;">Enter your email to receive a link to change your password.</span>
                    <div class="form-group" style="margin-top: 15px; margin-bottom: 0px;">
                        <input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="userEmail" 
                        placeholder="Email Address" email required>
                        <div *ngIf="f.controls['email']?.invalid && f.controls['email'].touched">
                            <span *ngIf="f.controls['email'].errors?.required" class="form-text">Email is required</span>
                        </div>
                        <div *ngIf="f.controls['email']?.invalid">
                            <span *ngIf="f.controls['email'].errors?.email" class="form-text">Please enter a correct email address</span>
                        </div>
                    </div> 

                    <div class="d-grid gap-2" 
                    *ngIf="f.controls['email']?.valid
                    && !spinner; else invalid">
                        <button class="btn btn-dark btn-code" type="submit">Send</button>
                    </div>
                    <ng-template #invalid>
                        <div *ngIf="!spinner" class="d-grid gap-2">
                            <button class="btn btn-dark btn-code disabled" type="button">Send</button>
                        </div>
                    </ng-template>
                    <div class="d-grid gap-2" *ngIf="spinner">
                        <button class="btn btn-dark btn-code disabled" type="button">
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Sending...
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div> 



