.card {
    margin: 9rem 0 3rem 0;
    border: none;
}

@media(max-width: 768px){
    .card{
        width: 100%;
        margin-top: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form{
        width: 340px;
    }
}

@media(min-width: 992px){
    .card{
        width: 40%;
        height: 100%;
    }
}

.btn-code{
    margin-top: 10px; 
    height: 45px; 
    background-color: #000;
    font-weight: bolder;
}

.form-text {
    color: #ee0000; 
}
