<div class="container-fluid">
    <div class="row">
        <div class="col vh-100 photo"></div>
        <div class="col not-scrollable" > 
            <div class="row d-flex align-items-center justify-content-center">
                <div class="card scrollable">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 900;">ALMOST THERE</h5>
                        <p class="card-text text-muted">Add a few more details to join the community...</p>
                        <form #f="ngForm" (ngSubmit)="OnSubmit(f)" style="margin-top: 15px;">
                            <div class="form-group">
                                <label for="name" style="font-weight: 900;">Personal Information</label>
                                <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name"
                                placeholder="Name" pattern="[a-zA-Z0-9 ]{3,}" required>
                                <div *ngIf="f.controls['name']?.invalid && f.controls['name'].touched">
                                    <span *ngIf="f.controls['name'].errors?.required" class="form-text">Name is required</span>
                                </div>
                                <div *ngIf="name.invalid && name.dirty">
                                    <span *ngIf="name.errors?.['pattern']" class="form-text">Name must only contain 3 or more alphanumeric characters.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" 
                                placeholder="Email Address" email uniqueEmail required>
                                <div *ngIf="f.controls['email']?.invalid && f.controls['email'].touched">
                                    <span *ngIf="f.controls['email'].errors?.required" class="form-text">Email is required</span>
                                </div>
                                <div *ngIf="f.controls['email']?.invalid">
                                    <span *ngIf="f.controls['email'].errors?.email" class="form-text">Please enter a correct email address</span>
                                </div> 
                                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                                    <span *ngIf="email.errors?.uniqueEmail" class="form-text">Email already exists</span>
                                </div> 
                                <div *ngIf="email.pending" class="form-text" style="color: orange;">
                                    Checking email
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                    style="width: 0.8rem; height: 0.8rem;"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="username" style="font-weight: 900;">Add a username and password</label>
                                <input type="text" class="form-control" name="username" #username="ngModel" [(ngModel)]="user.username"
                                pattern="[a-zA-Z0-9._]{3,}" placeholder="Username" autocomplete="username"  uniqueUsername required>
                                <div *ngIf="f.controls['username']?.invalid && f.controls['username'].touched">
                                    <span *ngIf="f.controls['username'].errors?.required" class="form-text">Username is required</span>
                                </div>
                                <div *ngIf="username.invalid && username.dirty">
                                    <span *ngIf="username.errors?.['pattern']" class="form-text">Username must contain 3 or more lowercase alphanumeric characters.</span>
                                </div>
                                <div *ngIf="username.invalid && (username.dirty || username.touched)">
                                    <span *ngIf="username.errors?.uniqueUsername" class="form-text">Username is taken</span>
                                </div> 
                                <div *ngIf="username.valid && (username.dirty || username.touched)">
                                    <span *ngIf="!(username.errors?.uniqueUsername)" class="form-text" style="color: green;">Username is available</span>
                                </div> 
                                <div *ngIf="username.pending" class="form-text" style="color: orange;">
                                    Checking username
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                    style="width: 0.8rem; height: 0.8rem;"></span>
                                </div>
                            </div>    

                            <div class="form-group">
                                <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" 
                                placeholder="Password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&]).{8,}" 
                                password required>
                                <span class="text-muted" style="font-size: smaller;">Passwords must contain at least an uppercase 
                                    letter, a lowercase letter, a symbol, a number and have at least 
                                    8 characters.</span>
                                <div *ngIf="f.controls['password']?.invalid && f.controls['password'].touched">
                                    <span *ngIf="f.controls['password'].errors?.required" class="form-text">Password is required</span>
                                </div>
                                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                                    <span *ngIf="password.errors?.['pattern']" class="form-text">Password is not strong enough</span>
                                </div>
                                <div *ngIf="password.valid && (password.dirty || password.touched)">
                                    <span class="form-text" style="color: green;">Password is strong enough</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="password" name="passwordConfirm" #passwordConfirm="ngModel" [(ngModel)]="confirmPassword" 
                                placeholder="Confirm Password"  required>
                                <div *ngIf="f.controls['confirmPassword']?.invalid && f.controls['confirmPassword'].touched">
                                    <span *ngIf="f.controls['confirmPassword'].errors?.required" class="form-text">Please confirm your Password</span>
                                </div>
                                <div *ngIf="passwordConfirm.dirty && (confirmPassword !== user.password)">
                                    <span class="form-text">Passwords are not equal</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="name" style="font-weight: 900;">Got a Promo code? Add one</label>
                                <input type="text" class="form-control" name="promoCode" #promoCode="ngModel"  [(ngModel)]="user.promoCode" 
                                placeholder="Promo code" required uniqueCodeExists>
                                <div *ngIf="f.controls['promoCode']?.dirty || f.controls['promoCode']?.touched">
                                    <span *ngIf="f.controls['promoCode'].errors?.uniqueCodeExists" class="form-text">Invalid Promo Code</span>
                                </div> 
                                <div *ngIf="f.controls['promoCode']?.pending" class="form-text" style="color: orange;">
                                    Checking Promo Code
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                    style="width: 0.8rem; height: 0.8rem;"></span>
                                </div>
                            </div> 

                            <div class="form-group form-check" style="margin-top: 25px;">
                                <input class="form-check-input" type="checkbox" (click) = "checkBoxClicked()" id="checkbox">
                                <label class="form-check-label" for="checkbox" style="font-size: 15px;">Get emails from refit, including promotions
                                    and selling tips.</label>
                            </div>

                            <div style="margin-top: 15px;">
                                <span class="text-muted" style="font-size: smaller;">By Submitting, you agree to our 
                                    <a routerLink="">Terms</a> and that you have read
                                    our <a routerLink="">Data Use Policy</a>, including our <a routerLink="">Cookie Use</a>.
                                You cannot use Refit if you do not agree.</span>
                            </div>  

                            <div class="d-grid gap-2" 
                            *ngIf="f.controls['name']?.valid 
                            && confirmPassword === user.password
                            && f.controls['username'].valid
                            && f.controls['password'].valid
                            && f.controls['email'].valid
                            && !(f.controls['promoCode'].errors?.uniqueCodeExists)
                            && !spinner; else invalid">
                                <button class="btn btn-dark btn-code" type="submit" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Submit</button>
                            </div>
                            <ng-template #invalid>
                                <div *ngIf="!spinner" class="d-grid gap-2">
                                    <button class="btn btn-dark btn-code disabled" type="button">Submit</button>
                                </div>
                            </ng-template>
                            <div class="d-grid gap-2" *ngIf="spinner">
                                <button class="btn btn-dark btn-code disabled" type="button">
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                    Submitting...
                                </button>
                            </div>
                            <div id="sign-in-button"></div>
                        </form>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div> 

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" *ngIf="modalTrigger === 1">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="nextPage()"></button>
            </div>
            <div class="modal-body">
                Woohoo... Account successfully created.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="nextPage()">Let's go</button>
            </div>
        </div>
    </div>
</div>
