.container-fluid{
    background:#f5f5f5;
    height: 100%;
}

.row{
    width: 50%;
}

.row-title{
    text-align: center;
    font-size: 30px;
    margin-top: 0.5rem;
    border-bottom: 0.0625rem solid rgb(0, 0, 0);
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
}

.photos-heading{
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 0;
}

.headings{
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 1.5rem;
}

.photos-subheading{
    font-size: 13.5px;
    margin-top: 0;
}

.all-photos{
    /* display: flex;
    align-items: center; */
    margin-top: 0.5rem;
}

.photo-div{
    width: 10rem;
    height: 10rem;
    border: 0.15rem dashed rgb(128, 125, 125);
    margin-right: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea{
    height: 110px; 
    border-color: black; 
    margin-top: 0.5rem;
}

.form-select{
    border-width: 0; 
    border-radius: 0; 
    border-bottom: 0.0625rem solid rgb(0, 0, 0);
    padding-left: 5px;
    padding-bottom: 0;
}

select{
    background-color:#f5f5f5;
}

select:required:invalid {
    color: #666;
}

option[value=""][disabled] {
    color: #666;
}

option{
    background-color: white;
    color: #000;
    border-radius: 15px;
}

.sub-option{
    font-size: 13px; 
    color: #666;
}

.select-label{
    font-size: 15px; 
    padding-left: 3px;
}

.dropdown{
    background-image: url(../../assets/dropdown.png);
    background-repeat: no-repeat;
    background-position: right .75rem bottom .5rem;
    background-size: 22px 18px; 
    background-color: red;
}

.input-floating{
    border-width: 0; 
    border-radius: 0; 
    border-bottom: 0.0625rem solid rgb(0, 0, 0);
    margin-top: 1.5rem;
    background-color:#f5f5f5;
    display: flex;
    align-content: center;
}

.input-floating input{
    border-width: 0; 
    border-radius: 0; 
    padding-bottom: 0;
    padding-left: 0;
    background-color:#f5f5f5;
    color: #000;
    font-size: inherit;
} 

.no-bullets{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.floating-label{
    height: 2.5rem; 
    margin-top: 1rem; 
    padding-left: 0; 
    color: #666;
}

.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    padding-top: 0;
}

.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    padding-bottom: 0;
    padding-left: 0;
}

.dropdown-content-sell {
    display: none;
    position: relative;
    z-index: 1;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -0.1rem;
    border-radius: 0;
}

.dropdown-content-sell li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    float: none;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom-color: rgb(215, 215, 215); 
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem; 
    border-radius: 0;
    width: 100%;
    cursor: pointer;
}

.dropdown-content-sell li:hover {
    color: rgb(255, 255, 255);
    background-color: #000;
}

.show{
    display: block;
}

.text-muted{
    pointer-events: none;
}

@media (max-width: 768px) {
    .container-fluid{
        margin-bottom: -5rem;
    }
    .row{
        width: 100%;
    }
    .photo-div{
        width: 7rem;
        height: 7rem;
        margin-right: 3rem;
        border-right: 0.15rem dashed rgb(128, 125, 125);
        border-left: 0.15rem dashed rgb(128, 125, 125);
    }
    textarea{
        height: 130px; 
    }
}