<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="row">
        <p class="row-title">List an item</p>
        <div>
            <p class="photos-heading">Photos</p>
            <span class="text-muted photos-subheading">
                Add upto 3 photos (We recommend you add at least one picture of yourself or someone else displaying the item)
            </span>
            <div class="all-photos">
                <div>
                    <span *ngIf="imageResultAfterCompressOne; else noImage">
                        <img src="{{imageResultAfterCompressOne}}"
                            alt="Profile pic" max-width="100%" class="product-div">
                    </span>
                    <span *ngIf="imageResultAfterCompressOne" class="optional-edit">
                        <label type="button" class="btn-label">
                            <span class="material-icons edit-button">edit</span>
                            <input #imageInput
                                type="file" 
                                accept="image/jpeg, image/png"
                                (change)="processFileOne(imageInput)"
                                style="display: none;">
                        </label>
                        <span class="material-icons" (click)="deletePic(imageResultAfterCompressOne)" style="color: red; cursor: pointer;">delete</span>
                    </span>
                    <ng-template #noImage>
                        <span class="photo-div">
                            <label type="button" class="btn-label">
                                <span class="material-icons-outlined">add_a_photo</span>
                                <input #imageInput
                                    type="file" 
                                    accept="image/jpeg, image/png"
                                    (change)="processFileOne(imageInput)"
                                    style="display: none;">
                            </label>
                        </span>
                    </ng-template>
                </div>
                <div style="margin-bottom: 5rem">
                    <span *ngIf="imageResultAfterCompressTwo; else noImageTwo">
                        <img src="{{imageResultAfterCompressTwo}}"
                            alt="Profile pic" max-width="100%" class="product-div">
                    </span>
                    <span *ngIf="imageResultAfterCompressTwo" class="optional-edit">
                        <label type="button" class="btn-label">
                            <span class="material-icons edit-button">edit</span>
                            <input #imageInput
                                type="file" 
                                accept="image/jpeg, image/png"
                                (change)="processFileTwo(imageInput)"
                                style="display: none;">
                        </label>
                        <span class="material-icons" (click)="deletePic(imageResultAfterCompressTwo)" style="color: red; cursor: pointer;">delete</span>
                    </span>
                    <ng-template #noImageTwo>
                        <span class="photo-div">
                            <label type="button">
                                <span class="material-icons-outlined">add_a_photo</span>
                                <input #imageInput
                                    type="file" 
                                    accept="image/jpeg, image/png"
                                    (change)="processFileTwo(imageInput)"
                                    style="display: none;">
                            </label>
                        </span>
                    </ng-template>
                </div>
                <div>
                    <span *ngIf="imageResultAfterCompressThree; else noImageThree">
                        <img src="{{imageResultAfterCompressThree}}"
                            alt="Profile pic" max-width="100%" class="product-div">
                    </span>
                    <span *ngIf="imageResultAfterCompressThree" class="optional-edit">
                        <label type="button" class="btn-label">
                            <span class="material-icons edit-button">edit</span>
                            <input #imageInput
                                type="file" 
                                accept="image/jpeg, image/png"
                                (change)="processFileThree(imageInput)"
                                style="display: none;">
                        </label>
                        <span class="material-icons" (click)="deletePic(imageResultAfterCompressThree)" style="color: red; cursor: pointer;">delete</span>
                    </span>
                    <ng-template #noImageThree>
                        <span class="photo-div">
                            <label type="button" class="btn-label" data-bs-dismiss="modal">
                                <span class="material-icons-outlined">add_a_photo</span>
                                <input #imageInput
                                    type="file" 
                                    accept="image/jpeg, image/png"
                                    (change)="processFileThree(imageInput)"
                                    style="display: none;">
                            </label>
                        </span>
                    </ng-template>
                </div>
            </div>

            <p class="headings">Description</p>
            <textarea class="form-control" placeholder="Tell the buyers about your item. Come up with a Headline, then add some details including material, condition, size and style.

Be accurate to the point." maxlength="1000" name="description" #description="ngModel" [(ngModel)]="product.description" required></textarea>
            <div *ngIf="description.invalid && description.dirty">
                <span *ngIf="description.errors?.maxlength" class="form-text" style="color: red;">
                    Description cannot have more than 1000 characters.
                </span>
            </div>
            <div *ngIf="description?.invalid && description.touched">
                <span *ngIf="description.errors?.required" class="form-text" style="color: red;">Description is required</span>
            </div>

            <p class="headings">Info</p>

            <div class="form-floating input-floating" style="margin-top: 0;">
                <input class="form-control dropdown" placeholder="Category" name="category" id="categoryInput"
                #categories="ngModel" [(ngModel)]="product.category" value="{{product.category}}" onclick="mySellFunction(event)" required>
                <label class="floating-label" for="categoryInput">Category</label>
            </div>
            <div *ngIf="!product.category && categories.invalid && categories.dirty">
                <span *ngIf="categories.errors?.required" class="form-text" style="color: red;">Please select a category</span>
            </div>
            <div class="dropdown-content-sell" id="sellDropdown">
                <ul class="no-bullets">
                    <li (click)="optionClick($event)">
                        <span>Ladieswear</span>
                    </li>
                    <li (click)="optionClick($event)">
                        <span>Menswear</span>
                    </li>
                    <li (click)="optionClick($event)">
                        <span>Jewelry</span>
                    </li>
                    <li (click)="optionClick($event)">
                        <span>Beauty</span>
                    </li>
                    <li (click)="optionClick($event)">
                        <span>Kids</span>
                    </li>
                    <li (click)="optionClick($event)">
                        <span>Rentals</span>
                    </li>
                </ul>
            </div>
            
            <span *ngIf="product.category === 'Ladieswear'">
                <div class="form-floating input-floating">
                    <input class="form-control dropdown" id="subcategoryInput" placeholder="Subcategory" name="subcategory" #subcategories="ngModel" 
                    [(ngModel)]="product.subCategory" value="{{product.subCategory}}" onclick="ladyDropdown(event)" required>
                    <label class="floating-label" for="subcategoryInput">Subcategory</label>
                </div>
                <div *ngIf="!product.subCategory && subcategories.invalid  && subcategories.dirty">
                    <span *ngIf="subcategories.errors?.required" class="form-text" style="color: red;">Please select a subcategory</span>
                </div>
            </span>
            <div class="dropdown-content-sell" id="ladyDropdown">
                <ul *ngFor="let lady of ladyCats" class="no-bullets">
                    <li (click)="subcategoryClick($event)">
                        <span>{{lady}}</span>
                    </li>
                </ul>
            </div>

            <span *ngIf="product.category === 'Menswear'">
                <div class="form-floating input-floating">
                    <input class="form-control dropdown" id="subcategoryInput" placeholder="Subcategory" name="subcategory" #subcategories="ngModel" 
                    [(ngModel)]="product.subCategory" value="{{product.subCategory}}" onclick="menDropdown(event)" required>
                    <label class="floating-label" for="subcategoryInput">Subcategory</label>
                </div>
                <div *ngIf="!product.subCategory && subcategories.invalid  && subcategories.dirty">
                    <span *ngIf="subcategories.errors?.required" class="form-text" style="color: red;">Please select a subcategory</span>
                </div>
            </span>
            <div class="dropdown-content-sell" id="menDropdown">
                <ul *ngFor="let men of menCats" class="no-bullets">
                    <li (click)="subcategoryClick($event)">
                        <span>{{men}}</span>
                    </li>
                </ul>
            </div>

            <span *ngIf="product.category === 'Jewelry'">
                <div class="form-floating input-floating">
                    <input class="form-control dropdown" id="subcategoryInput" placeholder="Category" name="subcategory" #subcategories="ngModel" 
                    [(ngModel)]="product.subCategory" value="{{product.subCategory}}" onclick="jewelryDropdown(event)" required>
                    <label class="floating-label" for="subcategoryInput">Subcategory</label>
                </div>
                <div *ngIf="!product.subCategory && subcategories.invalid  && subcategories.dirty">
                    <span *ngIf="subcategories.errors?.required" class="form-text" style="color: red;">Please select a subcategory</span>
                </div>
            </span>
            <div class="dropdown-content-sell" id="jewelryDropdown">
                <ul *ngFor="let jewelry of jewelry" class="no-bullets">
                    <li (click)="subcategoryClick($event)">
                        <span>{{jewelry}}</span>
                    </li>
                </ul>
            </div>

            <span *ngIf="product.category === 'Beauty'">
                <div class="form-floating input-floating">
                    <input class="form-control dropdown" id="subcategoryInput" placeholder="Category" name="subcategory" #subcategories="ngModel" 
                    [(ngModel)]="product.subCategory" value="{{product.subCategory}}" onclick="beautyDropdown(event)" required>
                    <label class="floating-label" for="subcategoryInput">Subcategory</label>
                </div>
                <div *ngIf="!product.subCategory && subcategories.invalid  && subcategories.dirty">
                    <span *ngIf="subcategories.errors?.required" class="form-text" style="color: red;">Please select a subcategory</span>
                </div>
            </span>
            <div class="dropdown-content-sell" id="beautyDropdown">
                <ul *ngFor="let beauty of beauty" class="no-bullets">
                    <li (click)="subcategoryClick($event)">
                        <span>{{beauty}}</span>
                    </li>
                </ul>
            </div>

            <span *ngIf="product.category === 'Kids'">
                <div class="form-floating input-floating">
                    <input class="form-control dropdown" id="subcategoryInput" placeholder="Category" name="subcategory" #subcategories="ngModel" 
                    [(ngModel)]="product.subCategory" value="{{product.subCategory}}" onclick="kidsDropdown(event)" required>
                    <label class="floating-label" for="subcategoryInput">Subcategory</label>
                </div>
                <div *ngIf="!product.subCategory && subcategories.invalid  && subcategories.dirty">
                    <span *ngIf="subcategories.errors?.required" class="form-text" style="color: red;">Please select a subcategory</span>
                </div>
            </span>
            <div class="dropdown-content-sell" id="kidsDropdown">
                <ul *ngFor="let kid of kids" class="no-bullets">
                    <li (click)="subcategoryClick($event)">
                        <span>{{kid}}</span>
                    </li>
                </ul>
            </div>

            <span *ngIf="product.category === 'Rentals'">
                <div class="form-floating input-floating">
                    <input class="form-control dropdown" id="subcategoryInput" placeholder="Category" name="subcategory" #subcategories="ngModel" 
                    [(ngModel)]="product.subCategory" value="{{product.subCategory}}" onclick="rentalsDropdown(event)" required>
                    <label class="floating-label" for="subcategoryInput">Subcategory</label>
                </div>
                <div *ngIf="!product.subCategory && subcategories.invalid  && subcategories.dirty">
                    <span *ngIf="subcategories.errors?.required" class="form-text" style="color: red;">Please select a subcategory</span>
                </div>
            </span>
            <div class="dropdown-content-sell" id="rentalsDropdown">
                <ul *ngFor="let rental of rentals" class="no-bullets">
                    <li (click)="subcategoryClick($event)">
                        <span>{{rental}}</span>
                    </li>
                </ul>
            </div>

            <div class="form-floating input-floating">
                <input class="form-control dropdown" placeholder="Condition" name="condition" id="conditionInput"
                #conditions="ngModel" [(ngModel)]="product.condition" value="{{product.condition}}" onclick="conditionFunction(event)" required>
                <label class="floating-label" for="conditionInput">Condition</label>
            </div>
            <div *ngIf="!product.condition && conditions.invalid && conditions.dirty">
                <span *ngIf="conditions.errors?.required" class="form-text" style="color: red;">Please select a condition</span>
            </div>
            <div class="dropdown-content-sell" id="conditionDropdown">
                <ul class="no-bullets">
                    <li (click)="conditionClick($event.target)">
                        <span>Brand new</span><br>
                        <span class="text-muted" style="font-size: 13px;">Unused with original packaging or tags</span>
                    </li>
                    <li (click)="conditionClick($event.target)">
                        <span>Like new</span><br>
                        <span class="text-muted" style="font-size: 13px;">Mint condition pre-owned or new without tags</span>
                    </li>
                    <li (click)="conditionClick($event.target)">
                        <span>Used - Excellent</span><br>
                        <span class="text-muted" style="font-size: 13px;">Lightly used but no noticeable flaws</span>
                    </li>
                    <li (click)="conditionClick($event.target)">
                        <span>Used - Good</span><br>
                        <span class="text-muted" style="font-size: 13px;">Minor flaws or signs of wear, to be noted in the description or photos</span>
                    </li>
                    <li (click)="conditionClick($event.target)">
                        <span>Used - Fair</span><br>
                        <span class="text-muted" style="font-size: 13px;">Obvious flaws or signs of wear, to be noted in the description or photos</span>
                    </li>
                </ul>
            </div>

            <form class="form-floating input-floating">
                <input class="form-control" placeholder="Brand" id="brandInput" name="brand" #brands="ngModel" 
                [(ngModel)]="product.brand" value="{{product.brand}}"> 
                <label class="floating-label" for="brandInput">Brand</label>
            </form>
            <span class="text-muted" style="font-size: 13px;">Some users are attracted to certain brands. Ignore this if you are unsure.</span>
            
            <form class="form-floating input-floating">
                <input class="form-control" placeholder="Color" id="colorInput" name="color" #colors="ngModel" 
                [(ngModel)]="product.color" value="{{product.color}}">
                <label class="floating-label" for="colorInput">Color</label>
            </form>
            <form class="form-floating input-floating">
                <input class="form-control" placeholder="Size" id="sizeInput" name="size" #sizes="ngModel" 
                [(ngModel)]="product.size" value="{{product.size}}">
                <label class="floating-label" for="sizeInput">Size</label>
            </form>
            <form class="form-floating input-floating">
                <input class="form-control" placeholder="Age" id="ageInput" name="age" #ages="ngModel" 
                [(ngModel)]="product.age" value="{{product.age}}">
                <label class="floating-label" for="ageInput">Age</label>
            </form>
            <span class="text-muted" style="font-size: 13px;">How long have you had this item? Ignore if item is new.</span> 
            
            <form class="form-floating input-floating">
                <input class="form-control" placeholder="Location" id="sizeInput" name="location" #locations="ngModel" 
                [(ngModel)]="product.location" value="{{product.location}}" required>
                <label class="floating-label" for="sizeInput">
                    Location
                </label>
            </form>
            <div *ngIf="!product.location && locations.invalid && locations.dirty">
                <span *ngIf="locations.errors?.required" class="form-text" style="color: red;">Please add your location</span>
            </div>
            <span class="text-muted" style="font-size: 13px;">Let users know where to find you.</span>

            <p class="headings" style="margin-bottom: 0.8rem;">Item Price</p>
            <div class="input-group mb-3" style="width: 50%;">
                <span class="input-group-text" id="item-price">
                    Ugx
                </span>
                <input type="text" class="form-control" placeholder="Item price" aria-label="Price" 
                aria-describedby="item-price" name="price" #prices="ngModel" [(ngModel)]="product.itemPrice" 
                value="{{product.itemPrice}}" required>
            </div>
            <div *ngIf="!product.itemPrice && prices.invalid && prices.dirty">
                <span *ngIf="prices.errors?.required" class="form-text" style="color: red; margin-top: -0.5rem;">Please add the price of the item</span>
            </div>
            
            <div class="input-group mb-3" style="width: 50%;">
                <span class="input-group-text" id="original-price">
                    Ugx
                </span>
                <input type="text" class="form-control" placeholder="Original price" 
                aria-label="Price" aria-describedby="original-price">
                <span class="text-muted" style="font-size: 13px;">
                    This is the price at which you bought the item. It helps users know how much they will
                    save by choosing to buy this item instead of a new one. Ignore if item is new.
                </span>
            </div>
            <div class="form-check form-switch" style="margin-left: 1rem; margin-top: 2rem;">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">Offer free delivery</label>
            </div>
            <span class="text-muted" style="font-size: 13px;">
                Items with free delivery are twice as likely to sell.
            </span>

            <div class="mx-auto save-button">
                <div class="d-grid gap-2" style="width: 47%; height: 45px;">
                    <button class="btn btn-dark btn-code" type="button"
                    style="background: black;" data-bs-toggle="modal" data-bs-target="#successMessage">
                        Save
                    </button>
                </div>
                <ng-template #invalid>
                    <div class="d-grid gap-2" style="width: 47%; height: 45px;">
                        <button class="btn btn-dark btn-code disabled" type="button">Save</button>
                    </div>
                </ng-template>
                <div class="d-grid gap-2" style="width: 47%; height: 45px;">
                    <button class="btn btn-dark btn-cancel" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
