.container-fluid{
    background:#f5f5f5;
    height: 100%;
    margin-bottom: -1rem;
}

.row{
    width: 80%;
}

.row-title{
    text-align: center;
    font-size: 30px;
    margin-top: 0.5rem;
}

.info-cards{
    width: 75%;
    margin-bottom: 1rem;
}

.arrow-back{
    font-size: 15px;
    margin-left: 7rem;
    margin-bottom: 0.5rem;
    display:flex; 
    align-items: center; 
}

.form-text {
    color: #ee0000; 
}

.btn-label{
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 0.2rem;
    line-height: 1.5;
    height: 2.4rem;
}

.modal-footer :nth-child(1){
    border-radius: 0.2rem;
}

.card-body{
    padding: 0;
    margin-top: 0.5rem;
}

.card-title{
    float: left;
    padding: 0;
}

.edit-button{
    float: right;
    padding: 0;
    border-style: none;
    border-color: white;
    background: white;
    color: #007bff;
}

.edit-button :nth-child(2){
    display: none;
}

.profile-pic-div{
    height: 6rem; 
    width: 6rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.profile-img{
    height: 6rem; 
    width: 6rem; 
    border-radius: 50%;
}

.personal-info-div{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.form-floating{
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-floating input{
    color: black;
}

.form-floating textarea{
    color: black;
}

.form-floating label{
    color: grey;
}

.input-group{
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.save-button{
    width: 70%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    margin-bottom: 1rem;
}

.btn-cancel{
    background: #f5f5f5; 
    color: black;
}

@media (max-width: 768px) {
    .container-fluid{
        margin-bottom: -5rem;
    }
    .row{
        width: 90%;
    }
    .info-cards{
        width: 90%;
    }
    .profile-pic-card{
        width: 100%;
    }
    .arrow-back{
        margin-left: 0.5rem;
    }
}
