<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="row">
        <p class="row-title">Edit Profile</p>
        <a class="arrow-back" routerLink="/user-profile/{{user.username}}">
            <span class="material-icons" style="margin-right: 0.3rem;">west</span>
            Back to Profile
        </a>
        <div class="card info-cards mx-auto">
            <div class="card-body">
                <p class="card-title">Profile Picture</p>
                <label class="edit-button" data-bs-toggle="modal" data-bs-target="#imageModal">Change</label>
                <div *ngIf="user.profilePicture.length || imgResultAfterCompress; else noImage" class="profile-pic-div mx-auto">
                    <img src="{{imgResultAfterCompress ? imgResultAfterCompress : userImg}}"
                            alt="Profile pic" max-width="100%" class="profile-img">
                </div>
                <ng-template #noImage>
                    <div class="profile-pic-div mx-auto">
                        <img src="../../assets/blank-profile-picture.png"
                            alt="Profile pic" max-width="100%" class="profile-img">
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="card info-cards mx-auto">
            <div class="card-body">
                <p class="card-title">Personal information</p>
                <div class="personal-info-div">
                    <form class="form-floating">
                        <input class="form-control" id="usersName" placeholder="Name" value="{{user.name}}"
                        name="name" #name="ngModel" [(ngModel)]="user.name" pattern="[a-zA-Z0-9 ]{3,}" required>
                        <label for="usersName">Name</label> 
                        <div *ngIf="name.invalid && name.touched">
                            <span *ngIf="name.errors?.required" class="form-text">Name is required</span>
                        </div>
                        <div *ngIf="name.invalid && name.dirty">
                            <span *ngIf="name.errors?.['pattern']" class="form-text">
                                Name must only contain 3 or more alphanumeric characters.
                            </span>
                        </div>
                    </form>
                    <!-- <form class="form-floating">
                        <input class="form-control" id="username" placeholder="Username" value="{{theUsername}}"
                        name="username" #username="ngModel" [(ngModel)]="user.username" pattern="[a-zA-Z0-9._-]{3,}"
                        autocomplete="username" uniqueUsername required>
                        <label for="username">Username</label>
                        <div *ngIf="username?.invalid && username.touched">
                            <span *ngIf="username.errors?.required" class="form-text">Username is required.</span>
                        </div>
                        <div *ngIf="username.invalid && username.dirty">
                            <span *ngIf="username.errors?.['pattern']" class="form-text">
                                Username must only contain 3 or more lowercase alphanumeric characters and no spaces.
                            </span>
                        </div>
                        <div *ngIf="username.invalid && (username.dirty || username.touched) && username.value !== theUsername">
                            <span *ngIf="username.errors?.uniqueUsername" class="form-text">Username is taken</span>
                        </div>
                        <div *ngIf="username.valid && (username.dirty || username.touched) && !username.value !== theUsername">
                            <span *ngIf="!(username.errors?.uniqueUsername)" class="form-text" style="color: green;">Username is available</span>
                        </div>
                        <div *ngIf="username.pending" class="form-text" style="color: orange;">
                            Checking username
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                            style="width: 0.8rem; height: 0.8rem;"></span>
                        </div>
                    </form> -->
                    <form class="form-floating">
                        <input class="form-control" id="email" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" 
                        placeholder="Email Address" value="{{theEmail}}" email uniqueEmail required>
                        <label for="email">Email</label>
                        <div *ngIf="email?.invalid && email.touched">
                            <span *ngIf="email.errors?.required" class="form-text">Email is required</span>
                        </div>
                        <div *ngIf="email?.invalid">
                            <span *ngIf="email.errors?.email" class="form-text">Please enter a correct email address</span>
                        </div> 
                        <div *ngIf="email.invalid && (email.dirty || email.touched) && email.value !== theEmail">
                            <span *ngIf="email.errors?.uniqueEmail" class="form-text">Email already exists</span>
                        </div> 
                        <div *ngIf="email.pending" class="form-text" style="color: orange;">
                            Checking email
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                            style="width: 0.8rem; height: 0.8rem;"></span>
                        </div>
                    </form>
                    <form class="form-floating">
                        <textarea class="form-control" placeholder="Leave a bio here" maxlength="140" value="{{user.bio}}" id="userBio"
                        style="height: 100px" name="bio" #bio="ngModel" [(ngModel)]="user.bio"></textarea>
                        <label for="userBio">Include a Bio...</label>
                        <!-- <div *ngIf="bio.invalid && bio.dirty">
                            <span *ngIf="bio.errors?.['pattern']" class="form-text">
                                Bio cannot have that symbol.
                            </span>
                        </div> -->
                        <div *ngIf="bio.invalid && bio.dirty">
                            <span *ngIf="bio.errors?.maxlength" class="form-text">
                                Bio cannot have more than 140 characters.
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card info-cards mx-auto">
            <div class="card-body">
                <p class="card-title">Social media</p>
                <div class="personal-info-div">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="facebook-icon">
                            <img src="../../../assets/5305153_fb_facebook_facebook logo_icon.ico"
                            alt="Facebook" width="20px">
                        </span>
                        <input type="text" class="form-control" name="facebook" #facebook="ngModel"
                        [(ngModel)]="user.facebookLink" placeholder="Facebook link" value="{{user.facebookLink}}" aria-label="Facebook" aria-describedby="facebook-icon">
                    </div>
                    <!-- <div *ngIf="facebook.invalid && facebook.dirty">
                        pattern="[a-zA-Z0-9._()&%#?,:;@/!* ]{1,}" 
                        <span *ngIf="facebook.errors?.['pattern']" class="form-text">
                            The link should not contain that symbol.
                        </span>
                    </div> -->

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="twitter-icon">
                            <img src="../../../assets/5305170_bird_social media_social network_tweet_twitter_icon.ico" 
                            alt="twitter" width="20px">
                        </span>
                        <input type="text" class="form-control" name="twitter" #twitter="ngModel" 
                        [(ngModel)]="user.twitterLink" placeholder="Twitter link" value="{{user.twitterLink}}" aria-label="Twitter" aria-describedby="twitter-icon">
                    </div>
                    <!-- <div *ngIf="twitter.invalid && twitter.dirty">
                        <span *ngIf="twitter.errors?.['pattern']" class="form-text">
                            The link should not contain that symbol.
                        </span>
                    </div> -->

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="instagram-icon">
                            <img src="../../../assets/5335781_camera_instagram_social media_instagram logo_icon.ico"
                            alt="Instagram" width="20px">
                        </span>
                        <input type="text" class="form-control" name="instagram" #instagram="ngModel" 
                        [(ngModel)]="user.instagramLink" placeholder="Instagram link" aria-label="Instagram" value="{{user.instagramLink}}" aria-describedby="instagram-icon">
                    </div>
                    <!-- <div *ngIf="instagram.invalid && instagram.dirty">
                        <span *ngIf="instagram.errors?.['pattern']" class="form-text">
                            The link should not contain that symbol.
                        </span>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="mx-auto save-button">
            <div class="d-grid gap-2" 
            *ngIf="name.valid
            && bio.valid
            && (email.valid || email.value === theEmail)
            && facebook.valid
            && twitter.valid
            && instagram.valid; else invalid" style="width: 47%; height: 45px;">
                <button class="btn btn-dark btn-code" type="button" (click)="save()" 
                style="background: black;" data-bs-toggle="modal" data-bs-target="#successMessage">
                    Save
                </button>
            </div>
            <ng-template #invalid>
                <div class="d-grid gap-2" style="width: 47%; height: 45px;">
                    <button class="btn btn-dark btn-code disabled" type="button">Save</button>
                </div>
            </ng-template>
            <div class="d-grid gap-2" style="width: 47%; height: 45px;">
                <button class="btn btn-dark btn-cancel" (click)="cancel()" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="imageModalLabel">Caution</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Please note that changing profile picture will permanently delete it from your account.
            Would you like to continue?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <label type="button" class="btn-label" data-bs-dismiss="modal">
                <span>Continue</span>
                <input #imageInput
                    appImgCompressor 
                    type="file" 
                    accept="image/*"
                    (change)="processFile(imageInput)"
                    style="display: none;">
            </label>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successMessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="successMessageLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" *ngIf="modalTrigger === 1; else notChanged">
            <span *ngIf="(loaderService.isLoading | async) || authLoader; else notLoading">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body loader-body">
                    <span class="spinner-grow spinner-grow-sm mx-auto" role="status" aria-hidden="true"></span>
                </div>
                <div class="modal-footer">
                </div>
            </span>
            <ng-template #notLoading>
                <span *ngIf="error; else noError">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successMessageLabel">Error</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{message}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark btn-code" data-bs-dismiss="modal">Continue</button>
                    </div>
                </span>
                <ng-template #noError>
                    <div class="modal-header">
                        <h5 class="modal-title" id="successMessageLabel">Success</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="nextPage()"></button>
                    </div>
                    <div class="modal-body">
                        You Genius... you did it. Your information has been updated.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="nextPage()">Continue</button>
                    </div>
                </ng-template>
            </ng-template>
        </div>
        <ng-template #notChanged>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successMessageLabel">Alert</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{message}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark btn-code" data-bs-dismiss="modal">Continue</button>
                </div>
            </div>
        </ng-template>
    </div>
</div>
