.container-fluid{
    background:#f5f5f5;
}

.row{
    width: 80%;
}

.row-title{
    text-align: center;
    font-size: 30px;
    margin-top: 0.5rem;
}

.info-cards{
    width: 75%;
    margin-bottom: 1rem;
}

.card-body{
    padding: 0;
    margin-top: 0.5rem;
}

.card-title{
    float: left;
    padding: 0;
}

.edit-button{
    float: right;
    padding: 0;
    border-style: none;
    border-color: white;
    background: white;
    color: #007bff;
}

.edit-button :nth-child(2){
    display: none;
}

.profile-pic-div{
    height: 6rem; 
    width: 6rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.profile-img{
    height: 6rem; 
    width: 6rem; 
    border-radius: 50%;
}

.personal-info-div{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.form-floating{
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-floating input{
    color: black;
}

.form-floating textarea{
    color: black;
}

.form-floating label{
    color: grey;
}

.input-group{
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .row{
        width: 90%;
    }
    .info-cards{
        width: 90%;
    }
    .profile-pic-card{
        width: 100%;
    }
}
