/* You can add global styles to this file, and also import other style files */
html, body {width: auto!important; overflow-x: hidden!important} 

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

input{
	font-weight: 300;
}

::-webkit-input-placeholder{/* Edge */
    font-weight: 300;
}

::placeholder{
    font-weight: 300;
}

:-ms-input-placeholder { /* Internet Explorer */
    font-weight: 300;
}

h1, h2, h3{
	font-family: 'Public Sans', sans-serif;
}

.iti {
	width: 100%;
    font-size: 18px;
}

.iti .search-container input {
	font-size: 14px;
	border-color: #c7cace;
	border-radius: 0;
	padding: 5px 10px;
}

.iti .search-container input:focus {
	outline: none;
}

ngx-intl-tel-input input{
    height: 44px;
    width: 100%;
    border: 1px solid #000;
    
}

/* @media (max-width: 768px) {
	body{
		width: 100%;
		padding-right: 8px;
		padding-left: 8px;
		margin-right: auto;
		margin-left: auto;
	}
} */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */ 
