/* You can add global styles to this file, and also import other style files */
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
}

h1, h2, h3{
	font-family: 'Public Sans', sans-serif;
}

.iti {
	width: 100%;
    font-size: 18px;
}

.iti .search-container input {
	font-size: 14px;
	border-color: #c7cace;
	border-radius: 0;
	padding: 5px 10px;
}

.iti .search-container input:focus {
	outline: none;
}

ngx-intl-tel-input input{
    height: 44px;
    width: 100%;
    border: 1px solid #000;
    
}
